
RewriteEngine on

RewriteOptions inherit
# Use PHP5.4 as default
AddHandler application/x-httpd-php54 .php
AuthName "SplitRock"
AuthUserFile "/home5/btmhostc/.htpasswds/public_html/staging-splitrockresort/passwd"
AuthType Basic
require valid-user


