{% for items in site.data._models.fall.explore %}

    {% if items.id ==1 %}
<section>
<div class="two-column-text special-offers">
        <div class="row ">

          {% if items.main-header != "none" %}

            <h2 class="explore-category">{{items.main-header}}</h2>

        {% endif %}

    <h3>{{items.heading}}</h3>

      <div class="col1 left">
                    <img src="{{items.img-data}}"  alt="{{items.tag}}">

        </div>
        <div class="col2 right">
     {{items.content}}

{% if items.has-info == "yes" %}

<div class="explore-info-icons" id="icons-col1">
      
      <ul class="icons-ul">

        {% if items.phone != "none" %}
          
          <li><i class="icon-li fa  fa-phone"> </i> {{items.phone}}</li>

        {% endif %}

            

           {% if items.time != "none" %} 
            <li>
      <i class="icon-li fa  fa-clock-o"> </i> {{items.time}} </li>

            {% endif %}
        </ul>
    </div>

    
    <div class="explore-info-icons" id="icons-col2">
        <ul class="icons-ul">

          {% if items.address != "none" %} 
             
             <li><i class="icon-li fa  fa-globe"> </i> {{items.address}}  </li>

          {% endif %}

           {% if items.price != "none" %} 
             
              <li><i class="icon-li fa  fa-dollar"> </i> {{items.price}}</li>

              {% endif %}
         </ul>
        </div>

       {% endif %}
                       

          </div>
          <div class="hr-2" ></div>
      </div>
  </div>
  </section>

                  {% else %}



                                <section>
<div class="two-column-text special-offers">
        <div class="row extra-padding">

          {% if items.main-header != "none" %}

            <h2 class="explore-category">{{items.main-header}}</h2>

        {% endif %}

    <h3>{{items.heading}}</h3>

      <div class="col1 left">
                    <img src="{{items.img-data}}"  alt="{{items.tag}}">

        </div>
        <div class="col2 right">
     {{items.content}}

{% if items.has-info == "yes" %}

<div class="explore-info-icons" id="icons-col1">
      
      <ul class="icons-ul">

        {% if items.phone != "none" %}
          
          <li><i class="icon-li fa  fa-phone"> </i> {{items.phone}}</li>

        {% endif %}

            

           {% if items.time != "none" %} 
            <li>
      <i class="icon-li fa  fa-clock-o"> </i> {{items.time}} </li>

            {% endif %}
        </ul>
    </div>

    
    <div class="explore-info-icons" id="icons-col2">
        <ul class="icons-ul">

          {% if items.address != "none" %} 
             
             <li><i class="icon-li fa  fa-globe"> </i> {{items.address}}  </li>

          {% endif %}

           {% if items.price != "none" %} 
             
              <li><i class="icon-li fa  fa-dollar"> </i> {{items.price}}</li>

              {% endif %}
         </ul>
        </div>

       {% endif %}
                       

          </div>
          <div class="hr-2" ></div>

          {% if forloop.last %}

          <div class="specials-separator">

            {% endif %}
      </div>
  </div>
  </section>




   {% endif %}

   {% endfor %}