
<footer class="footer-wrapper">
<div class="row" id="footer">
	<a href="index.html"><img itemprop="image" src="{{obj.logo-footer}}" alt="Split Rock Resort & Golf Club" class="logo"></a>
    <ul class="footer-menu">
         
                

                {% for items in obj.footer-links %}


                {% if items.name == "Owners" %}

                 <li><a href="{{items.url}}" target="_blank">{{items.name}}</a></li>

                 {% else %}

                <li><a href="{{items.url}}">{{items.name}}</a></li>

                {% endif %}
                    
                {% endfor %}
    
     
      </ul>
    <div class="contact right">

         <ul class="social-media right">


                {% for items in obj.social-media %}

                <li><a href="{{items.url]}}" rel="nofollow" target="_blank"><i class="{{items.class-name}}"></i></a></li>
        
                {% endfor %}
                    
        </ul>
      
        <ul class="contact-options right">

                



            <li><a href="{{obj.contacts-info.url}}"><i class="fa  fa-envelope"></i> {{obj.contacts-info.contact-name}}</a></li>
            <li><a href="{{obj.phone.url}}"><i class="fa  fa-phone"></i> <span itemprop="telephone" class="phone"> {{obj.phone.contact-no}}</span></a></li>
        </ul>



        <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> <span itemprop="streetAddress">{{obj.addr-info[0]}}</span>, <span itemprop="addressLocality">{{obj.addr-info[1]}}</span>, <span itemprop="addressRegion">{{obj.addr-info[2]}}</span> <span itemprop="postalCode">{{obj.addr-info[3]}}</span><br>
                
                

                <br>

                {{obj.copy-rights[0]}}
				<br>
                
                {{obj.copy-rights[1]}}
                 <br><br>
                <a class="footer-links" href="/privacy-policy/">Privacy Policy</a> | <a class="footer-links" href="/terms-condition/">Terms and Condition</a> <a href="http://www.highgate.com/" target="_blank"><img src="{{obj.logo-highgate}}"  class="highgate-logo"  alt=""/></a> 
            </p> 

  </div> 
</div> 

</footer>
</span>