
<span itemscope itemtype="http://schema.org/Hotel">

        <main class="cd-main-content">
<header class="not-fixed">
<div id="header-wrapper" class="site-header-wrapper fixed">
    <div class="row">
        <div class="large-12 site-header">
            <a href="/index.html"><img src="{{obj.logo-header}}" alt="Split Rock Resort & Golf Club" class="left logo"></a>
            <div class="contact right">
                <ul class="social-media right">
                    {% for items in obj.social-media %}

                <li><a href="{{items.url]}}" rel="nofollow" target="_blank"><i class="{{items.class-name}}"></i></a></li>
        
                {% endfor %}
                </ul>
                <ul class="contact-options right">
                    <li><a href="/"><i class="fa  fa-home"></i> Home</a></li>

            <li><a href="{{obj.contacts-info.url}}"><i class="fa  fa-envelope"></i> {{obj.contacts-info.contact-name}}</a></li>
            <li><a href="{{obj.phone.url}}"><i class="fa  fa-phone"></i> <span itemprop="telephone" class="phone"> {{obj.phone.contact-no}}</span></a></li>
        </ul>
            </div>
            <div id="site-nav" class="small-only-text-center">
                <div id="nav" class="small-12 medium-10 large-10">
                    <nav class="top-bar" data-topbar>
                      <ul class="title-area show-for-small-only">
                        <li class="name"></li>
                        <li class="toggle-topbar menu-icon"><a href="index.html#"><span>Menu</span></a></li>
                      </ul>
                    
                        <section class="top-bar-section clearfix">
                        <!-- Right Nav Section -->
                        <ul id="main-menu" class="">
                            {% for items in obj.top-links %}

                                    {% if items.isDropdown == "no" %}
                                    <li><a href="{{items.url}}">{{items.name}}</a></li>
                                    {% endif %}

                             {% if items.isDropdown == "yes" %}
                            
                                    <li class="has-dropdown"><a href="{{items.url}}">{{items.name}}</a>

                                     <ul class="sub-menu dropdown">

                                        {% for sublinks in items.drop-links %}

                                            {% if sublinks.isDropdown == "yes" %}

                                                <li class="has-dropdown"><a href="{{sublinks.url}}">{{sublinks.name}}</a>

                                                 <ul class="sub-menu dropdown">

                                                 {% for inlinks in sublinks.drop-links %}

                                                <li><a href="{{inlinks.url}}">{{inlinks.name}}</a></li>

                                                {% endfor %}

                                            </ul>

                                
                                                

                                            {% else %}

                                            <li><a href="{{sublinks.url}}">{{sublinks.name}}</a></li>

                                            {% endif %}

                                {% endfor %}

                            </ul></li>
                            
                            {% endif %}

                            {% endfor %}

                        </ul>              
                        </section>
                    </nav>
                </div>
        </div>
        </div>
    </div>