<!-- Global -->
{% assign name = obj %}
{% assign obj = site.data.main %}
{% assign mod = site.data._site_info.home-models %}

{% assign name = counter %}
{% assign counter = 0 %}
{% assign name = const %}
{% assign const = 10 %}

<!-- End -->


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<script type="text/javascript">
  (function() {
    if(location.host.indexOf('rztrkr')===-1){
        var rz = document.createElement('script'); rz.type = 'text/javascript'; rz.async = true;
        rz.src = ('https:' == document.location.protocol ? 'https://www' : 'http://www') + '.rztrkr.com/track/return-tracking/';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(rz, s);
    }})();
</script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-66072002-1', 'auto',{'allowLinker': true });

ga('require', 'linker');

ga('linker:autoLink', ['splitrockresort.reztrip.com','splitrockresort.reztripmobile.com']);

ga('send', 'pageview');
</script>


 <meta name="google-site-verification" content="2OygmiOnE3gOaSLtmx3c41jHLZTR4e3qYyI0vobPc40" />
 <link rel="canonical" href="index.html" />
<link rel="shortcut icon" href="favicon.ico" type="/image/vnd.microsoft.icon">
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700&text=1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700&text=1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Titillium+Web:400,600,700&text=1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz' rel='stylesheet' type='text/css'>


{% for items in obj.css %}
<link rel="stylesheet" href="{{items}}" type="text/css">
{% endfor %}

{% if page.title == "Poconos Wedding Packages | Weddings | Split Rock Resort" %}

<link rel="stylesheet" href="/css/mobile-booking.css" type="text/css">
<link href="/css/owl.carousel.css" rel="stylesheet">
<link href="/css/owl.theme.css" rel="stylesheet">
<link href="/css/owl.transitions.css" rel="stylesheet">
<style>
	.wedding-reviews {
	width: 90%;
	margin:0 auto;
	position:relative;
	text-align:center;
}
.heading {
	font-size: 32px;
	text-align:center;
}

</style>

{% endif %} 

{% if page.title == "Poconos Mountains Resort | Directions | Split Rock Resort" %}

<style type="css">.gmapcontainer  {
position: relative;
padding-bottom: 65.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
.gmapcontainer iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}

</style>

{% endif %} 

<!--[if IE 9]>
<style type="text/css">@media only screen and (min-width: 64.063em) { 
#hero-section { min-height: 120px; }  }
</style>
<![endif]-->

	

<!-- NGFB Open Graph+ Pro meta tags BEGIN -->
<meta name="generator" content="NGFB Open Graph+ Pro 6.9" />

{% for items in obj.meta-info %}

{% if items.property == "og:title" %}

		<meta property="{{items.property}}" content="{{page.title}}" />
		{% continue %}

{% endif %}

<meta property="{{items.property}}" content="{{items.content}}" />

{% endfor %}


<!-- NGFB Open Graph+ Pro meta tags END -->

<!-- NGFB Open Graph+ Pro header javascript BEGIN -->
<script type="text/javascript" id="ngfb-header-script">
  window.___gcfg = { lang: "en-US" };
	function ngfb_header_js( script_id, url, async ) {
		if ( document.getElementById( script_id + "-js" ) ) return;
		var async = typeof async !== "undefined" ? async : true;
		var script_pos = document.getElementById( script_id );
		var js = document.createElement( "script" );
		js.id = script_id + "-js";
		js.async = async;
		js.type = "text/javascript";
		js.language = "JavaScript";
		js.src = url;
		script_pos.parentNode.insertBefore( js, script_pos );
  };
</script>
<!-- NGFB Open Graph+ Pro header javascript END -->



{% if page.title == "Resorts In Poconos PA | Rooms & Suites | Split Rock Resort" %}

<style type="text/css">.content h1, .two-column-text h2 { font-size:2em; }
</style>

{% endif %}

{% if page.title == "Events & Entertainment in the Poconos | Split Rock Resort PA" %}

<style type="text/css">

.two-column-text .row .col1 h4, .two-column-text .row .col2 h4 {

	border-bottom: 8px solid #7e716b;

	margin-bottom: 20px;

	margin-top: 15px;

	padding-bottom: 15px;

}

</style> 

{% endif %}
</head>