<header class="is-fixed">
        <a id="cd-logo" href="index.html"><img src="/img/logo.png" class="logo" alt="Split Rock Resort & Golf Club"></a>
        <nav id="cd-top-nav">
            <ul>
                <li class="link"><a href="/" class="mobile-book-now">Book Now</a></li>
                <li class="link"><a href="/contact/index.html">Contact Us</a></li>
                <li class="icon bed"><a href="/" class="mobile-book-now"><img src="/img/bed.png" width="25" alt="Book now"></a></li>
                <li class="icon phone"><a href="tel:+18002557625"><img src="/img/phone.png" width="15" alt="Contact Us"></a></li>
            </ul>
        </nav>
        <a id="cd-menu-trigger" href="index.html#0"><span class="cd-menu-text">Menu</span><span class="cd-menu-icon"></span></a>
    </header>

<div id="mobile-booking">

   

    <!-- <section> -->
    <div class="row">
        <div id="search-container" class="clearfix">
            <h1 class="left">Book your stay <a id="mobile-booking-close">x</a></h1>
           <!-- <a href="https://mobile.synxis.com/Reservation/ViewCancelSearch?&hotel=63406&src=prop"
               class="option-link">Modify / cancel a reservation</a>-->

            <div class="hr"></div>
            <form id="form-res" name="BookingBarHome_Aqua_Waikiki_Wave" action="https://splitrockresort.reztrip.com/search">
             

                <div class="arrive_depart_container">
                    <div class="hotel_arrive "><label for="datein" class="booking_label">Check-in</label>
                        <input type="text" value="" placeholder="MM/DD/YYYY" id="datein" name="arrival_date" />
                    </div>
                    <div class="hotel_depart "><label for="dateout" class="booking_label">Check-out</label>
                        <input type="text" value="" placeholder="MM/DD/YYYY" id="dateout" name="departure_date" />
                    </div>
                </div>
                <div class="more_hotel_options">
                    <div class="hotel_select left rac"><label for="hotel-rooms" class="booking_label">Rooms:</label>

                        <div class="hotel_custom_select_small">
                            <select name="rooms" id="hotel-rooms">
                        <option value="1" selected label="1 Room">1 Room</option>
                                <option label="2 Rooms" value="2">2 Rooms</option>
                                <option label="3 Rooms" value="3">3 Rooms</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="hotel_select left rac"><label for="hotel-adults" class="booking_label">Adults:</label>

                        <div class="hotel_custom_select_small">
                            <select id="hotel-adults" name="adults[]">
                                <option label="1" value="1">1</option>
                                  <option value="2" selected label="2">2</option>
                                <option label="3" value="3">3</option>
                                <option label="4" value="4">4</option>
                                <option label="5" value="5">5</option>
                                <option label="6" value="6">6</option>
                                <option label="7" value="7">7</option>
                                <option label="8" value="8">8</option>
                                <option label="9" value="9">9</option>
                                <option label="10" value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="hotel_select left rac child_num"><label for="hotel-child"
                                                                        class="booking_label">Children:</label>

                        <div class="hotel_custom_select_small">
                            <select id="hotel-child" name="children[]">
                                <option label="0" value="0">0</option>
                                <option label="1" value="1">1</option>
                                <option label="2" value="2">2</option>
                                <option label="3" value="3">3</option>
                                <option label="4" value="4">4</option>
                                <option label="5" value="5">5</option>
                                <option label="6" value="6">6</option>
                                <option label="7" value="7">7</option>
                                <option label="8" value="8">8</option>
                                <option label="9" value="9">9</option>
                                <option label="10" value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="hotel_submit">
                        <input type="submit" class="bttn filled" value="Book Now">
                    </div>

                    <div class="more_hotel_options_2">
                        <div class="options_wrapper">
                            <div class="flexDates">
                                <input type="checkbox" value="1" id="flexDates" name="flexDates"/>
                                <label for="flexDates"></label>
                                <span class="info">Flexible Dates</span>
                            </div>
                        </div>
                        <div class="options_wrapper">
                            <div class="optionalCodes">
                                <input type="checkbox" value="1" id="optionalCodes" name="check"/>
                                <label for="optionalCodes"></label>
                                <span class="info">Optional Codes</span>
                            </div>
                        </div>
                        <div class="options_wrapper">

                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="promo_codes">
                        <span class="heading">Add Your Promo Codes</span>

                        <div class="hotel_select left rac" style="margin-right: 15px; white-space: nowrap;">
                            <label for="promocode" class="booking_label">Promo Code:</label>
                            <input type="text" id="promocode" name="offer_code" maxlength="20" value="">
                        </div>
                    
                        <div class="hotel_select left rac" style="white-space: nowrap;">
                            <label for="iatacode" class="booking_label">IATA Code:</label>
                            <input type="text" id="iatacode" name="iata_code" maxlength="20" value="">
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <!-- </section> -->
</div>


<nav id="cd-lateral-nav">
        <ul class="cd-navigation">
            <li class="item-has-children">
            <li class="item-has-children">
                <a href="/special-offers/" class="root">Special Offers</a>
                <ul class="sub-menu">
                    <li><a href="special-offers/">See all Specials</a></li>
                    <!--used to allow top page to be clicked-->
                    <!--<li><a href="/special-offers/#featured-special">Featured Special</a></li>
                    <li><a href="/special-offers/#discount">Discounted Rates</a></li>-->
                    <!--<li><a href="/special-offers/#memorialday">Memorial Day</a></li>-->
                    <!--<li><a href="/special-offers/#threebie">3rd Night Free</a></li>-->
                    <!--<li><a href="/special-offers/#winefestival">Wine Festival</a></li>-->
                    <li><a href="/special-offers/#stay-2-nights">Stay 2 Nights and get 3rd Night FREE</a></li>
                    <li><a href="/special-offers/#skystay">Ski and Stay Package</a></li>
                    <li><a href="/special-offers/#bedandbreakfast">Bed &amp; Breakfast</a></li>
                    <li><a href="/special-offers/#splash">Splash &amp; Stay</a></li>
                    <li><a href="/special-offers/#romance">Romance Package</a></li> 
                    <li><a href="/special-offers/#senior">Senior Discount</a></li>
                    <li><a href="/special-offers/#aaa">AAA/CAA Discount</a></li>
                    <li><a href="/special-offers/#government-special">Government</a></li>
                    <li><a href="/special-offers/#military-special">Military</a></li>
                </ul>
            </li> <!-- item-has-children -->

            <li class="item-has-children">
                <a href="/resort-overview/index.html" class="root">Property Overview</a>
                <ul class="sub-menu">
                  <li><a href="/resort-overview/">Split Rock Overview</a></li>
                  <li><a href="/resort-overview/rooms-suites/">Rooms &amp; Suites</a></li>
                  <li><a href="/resort-overview/resort-dining/">Resort Dining</a></li>
                  <li><a href="/resort-overview/meetings/">Meetings</a></li>
                  <li><a href="/resort-overview/photo-gallery/">Photo Gallery</a></li>
            
                </ul>
            </li> <!-- item-has-children -->
            <li class="item-has-children">
                <a href="/explore/index.html" class="root">Explore</a>
                <ul class="sub-menu">
                 <li><a href="/explore/index.html">Explore Overview</a></li>
                  <li><a href="/explore/index.html#spring-summer">Summer Activities</a></li>
                  <li><a href="/explore/index.html#fall-winter">Winter Activities</a></li>
                  <li><a href="/explore/index.html#culture-and-history">Culture and History</a></li>
                  <li><a href="/explore/index.html#nature">Nature</a></li>
                  <li><a href="/explore/index.html#shopping">Shopping</a></li>
                </ul>
            </li> <!-- item-has-children -->
            
            
        </ul> <!-- cd-navigation -->

        <ul class="cd-navigation cd-single-item-wrapper">
        <li><a href="https://splitrockresort.reztrip.com"  target="_blank">BOOK NOW</a></li>
            <li><a href="/weddings/">Weddings</a></li>
            <li><a href="/groups/">Groups</a></li>
            <li><a href="/resort-overview/meetings/">Meetings</a></li>
            <li><a href="/directions/">Property Location</a></li>
            <li><a href="/press/">Press</a></li>
            <li><a href="/resort-fee/">Resort Fee</a></li>
                         <li><a href="/contact/">Contact</a></li>
            <li><a href="/email-signup/">Directions</a></li>
            <li><a href="/sitemap/">Sitemap</a></li>
            <!--<li><a href="http://www.astonhotels.com/about-us/privacy-policy/"  target="_blank">Privacy Policy</a></li>
            <li><a href="http://www.astonhotels.com/business-trips/"  target="_blank">Business Travel</a></li>
            <li><a href="http://www.astonhotels.com/for-travel-specialists/"  target="_blank">Travel Agents</a></li>-->
        </ul> <!-- cd-single-item-wrapper -->

        <div class="cd-navigation socials">
            <a class="cd-facebook cd-img-replace" rel="nofollow" href="http://www.facebook.com/splitrockresortpa/"  target="_blank">Facebook</a>
            <a class="cd-twitter cd-img-replace" rel="nofollow" href="https://twitter.com/splitrockresort/"  target="_blank">Twitter</a>
            <!--<a class="cd-google cd-img-replace" href="https://www.pinterest.com/aquahotels/">Google+</a>
            <a class="fa fa-pinterest" href="#">Pinterest</a>-->
        </div> <!-- socials -->
    </nav>