<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption left">

                      <h1>{{items.heading}}</h1>

                        <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>



<section>

<div class="two-column-text">

    <div class="row  detail">

        <div class="content" style="padding-top:20px;">

          <h2>The Pennsylvania Blues Festival</h2>

            <h4>September 16 – 18, 2016</h4>




<div class="col1 left">


<p></p>
            


              <p>Split Rock Resort is once again the host of the <strong>Pennsylvania Blues Festival</strong> in scenic Lake Harmony Pa. Join us as we celebrate <strong>25 Consecutive Years of Blues In The Pocono Mountains Of Pennsylvania.</strong></p>

              <p>This award winning festival showcases <strong>17 National Acts</strong> throughout the weekend on two stages (a concert stage and a 9000 square foot tent stage) with plenty of food and beverage, free parking, dozens of artisans displaying their wares and a community that embraces this event with open arms. Three indoor showcases (Friday Night, Saturday Night &amp; Sunday Morning) are held in the impressive <strong>Galleria Conference Center</strong> a short walk from the Festival Grounds.</p>

                <p>Founded in 1992,This Festival has featured 450 Of the Very Best Performers in this iconic musics history including <strong>Luther Allison, Koko Taylor, Lowell Fulson, Johnny"Clyde"Copeland, Hubert Sumlin, Irma Thomas, Lonnie Brooks, Son Seals, Clarence Gatemouth Brown, hemekia Copeland ,Little Milton and Bobby Rush.</strong></p>

                <p>Throughout the weekend music fans that travel far and wide to the Pennsylvania Blues Festival can expect <strong>Contemporary and Traditional Blues, Soul, Gospel and New Orleans Themed Music</strong> in a beautiful up close and personal setting.</p>

              

</div>

            <div class="col2 right">

 <img src="/img/435x275-Bluefest.jpg" alt=""><br>
 <a href="/events/blues-festival/acts/">Click here to check out the lineup</a>

  <!--<a href="https://tix.extremetix.com/Online/PennsylvaniaBluesFestival" target="_blank" rel="nofollow" class="bttn empty">BUY TICKETS</a>-->

            </div>

      </div>

    </div>

</div>

</section>






<section>
<div class="text-with-gallery special-offers">
    <div class="row  detail">
    
        <div class="content">

<p>The 2016 lineup is currently in production. Don’t have the blues, we will have the line up soon.</p>


                

                <p><strong>Evening concerts</strong> are within walking distance of the festival  and will be held inside the spacious <strong>Galleria Conference Center</strong>, so make sure  to <strong>book your resort accommodations</strong>! </p>










                <h3 style="border:0px; margin-bottom: 0px; padding-bottom:20px;">VIP Tickets are now available.</h3>

                <p>The VIP Package is the ultimate way to experience this award winning National event with an "All Area Access Pass."</p>

                    <strong>Your VIP Package features:</strong>
                <ul>
                    
                    <li>VIP commemorative laminates</li>
                    <li>Festival admission Saturday &amp; Sunday</li>
                    <li>Admissions to Friday &amp; Saturday Night Showcase shows including dinner buffets</li>
                    <li>Admission to Sunday Blues Brunch</li>
                    <li>Access to main stage photo pit for photo opportunities</li>
                    <li>One festival t-shirt (per VIP customer)</li>
                    <li>VIP Parking</li>
                    <li>More to come</li>

                </ul>

                <strong>The sooner you book your VIP package the better the deal!</strong>

                <ul>
                    
                    
                    <li>1 Person/2 People - $199/$349 – January 2, 2016 through August 1, 2016</li>
                    <li>1 Person/2 People - $235/$419 – August 2, 2016– September 15, 2016</li>
                    

                </ul>

                    <p><strong>Saturday, September 17, 2016</strong><br>Master Class w/ Ronnie Earl<br>10.30am Doors Open<br>11.am – 12.30pm<br>$50.00 advance</p>

                    <p><a href="https://tix.extremetix.com/Online/?siteID=4183" target="_blank" rel="nofollow" class="bttn empty">Buy Tickets</a></p><br>


                <!--<p><a href="https://tix.extremetix.com/Online/PennsylvaniaBluesFestival" target="_blank" rel="nofollow"><strong>Purchase Your Tickets Online Now</strong></a></p>-->

                <p>Staying for the Blues Festival Weekend? <strong>Book now and Save 20% on your stay.</strong></p>

                <p><a id="smallbtn" href="https://splitrockresort.reztrip.com/en/special_offer?rate_code=BLUE16&offer_code=BLUES&vr=3&search?rooms=1&children%5B%5D=0&arrival_date=2016-09-16&departure_date=2016-09-19&adults%5B%5D=2" target="_blank" rel="nofollow" class="bttn empty">BOOK YOUR ROOM</a></p>

                <br><br>

                
</div>
    </div>
</div>
</section>





  {% include sign-up.html %}

    
{% include script-all-pages.html %}
   
    {% include footer.html %}



</body>
</html>