<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}

  <section>
<div id="hero-section" class="page full"></div>
</section>
<div id="toggleheader"></div>
<section>
<div class="featured-item">
  <div class="row">
    <h1>Contact Us</h1>
    </div>
</div>
</section>

<section>
<article>
<div class="entry">
  <div class="row">
  <div id="googleMap" style="width:100%;height:380px;"></div>
        <div class="content">
            
            <div class="text left">
<p style="padding-top: 30px;">Worldwide Reservations: 1-570-722-9111<br/>
US/Canada Toll-Free Reservations: <span class="phone">1-800-255-7625</span></p>

<p>Email: <a href="mailto:info@splitrockresort.com">info@splitrockresort.com </a></p>
<p style="padding-bottom: 75px;">Address: We&#8217;re located at <br>
<a href="../directions/index.html">100 Moseywood Road<br>
 Lake Harmony, PA 18624. </a></p>
 </div>
        </div>
        
    </div>
    
</div>
</article>
</section>





  {% include sign-up.html %}

    
{% include script-all-pages.html %}
   
    {% include footer.html %}



</body>
</html>