<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption right">

                      <h1>{{items.heading}}</h1>

                      <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>



<section>
<div class="text-with-gallery">
  <div class="row">
    <div class="content">
        <h2>{% region dining_header %}</h2>
        <p> {% region dining_text %} </p>

    </div>
    </div>
</div>
</div>
</section>
{% for dining in site.data._models.resort-dining %}

<section>
<div class="two-column-text special-offers">
    <div class="row">
    <h3>{{ dining.name }}</h3>
      <div class="col1 left">
          <img src= {{ dining.image.url }}  alt="Thirsty Moose Saloon">
        </div>
        <div class="col2 right">
            {{ dining.text }}

          <div class="explore-info-icons" id="icons-col1">
            <ul class="icons-ul">
                   {% if dining.schedule %}
                      <li>
                          <i class="icon-li fa  fa-clock-o"> </i> 
                          {{ dining.schedule }}
                          
                      </li>  
                    {% endif %}    
                    {% if dining.menu %}
                      <li>
                          <i class="icon-li fa  fa-cutlery"> </i> 
                          {{ dining.menu }}
                          
                      </li>  
                    {% endif %} 

            </ul>
          </div>
          <div class="explore-info-icons" id="icons-col2">
            <ul class="icons-ul">
                  {% if dining.phone %}
                      <li>
                          <i class="icon-li fa  fa-phone"> </i> 
                          {{ dining.phone }}
                          
                      </li>  
                  {% endif %}
                  {% if dining.info %}
                    <li>
                        <i class="icon-li fa  fa-calendar"> </i> 
                          {{ dining.info }}
                        
                    </li>  
                  {% endif %}
             </ul>
          </div>
            
        </div>
        <div class="hr-2" ></div>
        {% if dining.name == "Sand Bar" %}
          <span class="disclaimer">*Menu subject to change.</span>
        {% endif %}
        <br><br>
    </div>
</div>

</section>

{% endfor %}

   
    {% include footer.html %}
    {% include script-all-pages.html %}



</body>
</html>