<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}

  <section>
<div id="hero-section" class="clear page full"></div>
</section>
<div id="toggleheader"></div>
<section>
<div class="featured-item">
  <div class="row">
    <h1>{% region directions_header %}</h1>
    </div>
</div>
</section>

<section>
<article>
<div class="entry">
  <div class="row">
  
    <div id="googleMap" style="width:100%;height:380px;"></div>
    <div class="content detail">

      

<h2> {% region split_rock_direction_header %} </h2>
<p>Address: 100 Moseywood Road<br/>
    Lake Harmony, PA 18624<br/>
    Worldwide Reservations: 1-570-722-9111<br/>
  US/Canada Toll-Free Reservations: <span class="phone">1-800-255-7625</span></p>
<p>Email: <a href="mailto:info@splitrockresort.com">info@splitrockresort.com </a></p>
<br>

<div class="text left">

 <h2>{% region split_rock_direction_header_2 %} </h2>
<h3> From Philadelphia, Pennsylvania</h3>
{% region philadelphiaa_text %}

<h3> {% region grand_trenton_new_jersey %} </h3>
{% region grand_trenton_new_jersey_text %}

<h3> {% region grand_atlantic_new_jersey %}  </h3>
{% region grand_atlantic_new_jersey_text %} 

<h3> {% region grand_center_new_jersey %}  </h3>
{% region grand_center_new_jersey_text %} 

<h3> {% region grand_nyc_header %} </h3>
{% region grand_nyc_text %}

<h3> {% region grand_harrisburg_header %}  </h3>
{% region grand_harrisburg_text %} 


<h3>{% region grand_washington_header %} </h3>

{% region grand_washington_text %} 


<h3>{% region grand_massachusetts_header %}</h3>

{% region grand_massachusetts_text %}


<h3> {% region grand_bringhamton_header %} </h3>

{% region grand_bringhamton_text %}


<h3> {% region grand_rapids_header %}  </h3>

{% region grand_rapids_text %}



<h3>{% region ohio_header %} </h3>

{% region ohio_header_text %}


<h3> {% region a_b_e %} </h3>
{% region a_b_e_text %}

<h3> {% region a_v_p %}  </h3>
{% region a_v_p_text %} 

<h3> {% region p_h_l %} </h3>

{% region p_h_l_text %}
<h3>{% region e_w_r %}</h3>

  {% region e_w_r_text %}
</div>

      </div>


            
            <div class="hr"></div>
        </div>
    </div>
</div>
</article>
</section>







    

   
    {% include footer.html %}
    {% include script-all-pages.html %}



</body>
</html>