<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}

  <section>
<div id="hero-section" class="clear page full"></div>
</section>
<div id="toggleheader"></div>
<section>
<div class="featured-item">
  <div class="row">
    <h1>{% region directions_header %}</h1>
    </div>
</div>
</section>

<section>
<article>
<div class="entry">
  <div class="row">
  
    <div id="googleMap" style="width:100%;height:380px;"></div>
    <div class="content detail">

      

<h2>Split Rock Resort</h2>
<p>Address: 100 Moseywood Road<br/>
    Lake Harmony, PA 18624<br/>
    Worldwide Reservations: 1-570-722-9111<br/>
  US/Canada Toll-Free Reservations: <span class="phone">1-800-255-7625</span></p>
<p>Email: <a href="mailto:info@splitrockresort.com">info@splitrockresort.com </a></p>
<br>

<div class="text left">

 <h2>Directions to Split Rock Resort </h2>
<h3>From Philadelphia, Pennsylvania</h3>

<p>Northeast Extension of the Pennsylvania Turnpike (I476) to Exit 95. Make a left onto Rt. 940 East and follow signs to Split Rock Resort. At the first traffic light, turn right on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort. 1 Hour, 45 Minutes.</p>
<h3>From Trenton, New Jersey</h3>

<p>Rt. 31 North to Interstate 78 West to Rt. 33 North to Interstate 80 West to PA Exit 284. Make a right onto Rt. 115, then left onto Rt. 940 West and follow signs to Split Rock Resort. At the next traffic light, turn left on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort. 2 Hours.</p>
<h3>From Atlantic City, New Jersey</h3>

<p>AC Expressway to Rt. 42 North to I76 West to Exit 331B; then follow I476 North to exit 95. After toll plaza, make a left onto Rt. 940 East and follow signs to Split Rock Resort. At the first traffic light, turn right on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort. 3 Hours.</p>
<h3>From Central New Jersey</h3>

<p>Interstate 78 West to Rt. 33 North to Interstate 80 West to Exit 284. Make a right onto Rt. 115 North to first traffic light and make a left. Follow signs to Split Rock Resort. At the next traffic light, turn left on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort. 2 Hours.</p>
<h3>From NYC, Long Island & Northern New Jersey</h3>

<p>George Washington Bridge to Interstate 80 West to Pennsylvania Exit 284. Make a right onto Rt. 115 and then a left onto Rt. 940 West. Follow signs to Split Rock Resort. At the next traffic light, turn left on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort. 2 Hours.</p>
<h3>From Harrisburg, Pennsylvania</h3>

<p>Interstate 81 North to Interstate 80 East to Exit 277 (Lake Harmony) and make a right onto 940 East. Follow signs to Split Rock Resort. At the first traffic light, turn right on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort. 1 Hour, 30 Minutes.</p>

<h3>From Washington D.C. & Baltimore, Maryland</h3>

<p>Interstate 495 North to Interstate 95 North to Interstate 695 West to Interstate 83 North to Interstate 81 North to Interstate 80 East. Follow signs to Exit 277 (Lake Harmony) and make a right onto Rt. 940 East. Follow the signs to Split Rock Resort. At the first traffic light, turn right on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort. 3 Hours, 30 Minutes.</p>

<h3>From Massachusetts & New England</h3>

<p>Interstate 84 West to Interstate 380 South to Interstate 80 West to Exit 284. Make a right onto Rt. 115 North and then left at the light onto Rt. 940 West. Follow the signs to Split Rock Resort. At the next traffic light, turn left on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort. 3-4 Hours.</p>

<h3>From Binghamton/Syracuse, New York</h3>

<p>Take Interstate 81 South to the PA Turnpike I-476 South stay on the turnpike to the Pocono Exit 95 – go through toll booth and then get in the left lane at the light make a left onto Rt 940 East. At the first traffic light, turn right on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort.</p>

<h3>From Grand Rapids, Michigan</h3>

<p>Take Interstate 69 South to Interstate 80 East stay on Interstate 80 through Ohio and into Pennsylvania until the Lake Harmony Exit 277. Off the exit, stay to your right and merge onto Rt 940 East. At the first traffic light, turn right on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort.</p>

<h3>From Ohio</h3>
<p>Take Interstate 80 through Ohio and into Pennsylvania until the Lake Harmony Exit 277. Off the exit, stay to your right and merge onto Rt 940 East. At the first traffic light, turn right on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort.</p>

<h3>From Lehigh Valley International Airport (ABE)</h3>

<p>Lehigh Valley, PA. Rt. 22 West to I-476 Pennsylvania Turnpike North to Pocono Exit (95). Make a left onto Rt. 940 East and follow signs to Split Rock Resort. At the first traffic light, turn right on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort. 60 Minutes.</p>
<h3>From Wilkes-Barre/Scranton International Airport (AVP)</h3>

<p>Avoca, PA. Take I 81 South to Rt. 115 South to Pennsylvania Turnpike South to Pocono Exit (95). Make a left onto Rt. 940 East and follow the signs to Split Rock Resort. At the first traffic light, turn right on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort. 30 Minutes.</p>
<h3>From Philadelphia International Airport (PHL)</h3>

<p>Philadelphia, PA. Take Interstate 95 South to Interstate 476 (the Blue Route) North to Exit 95. Make a left onto Rt. 940 East and follow the signs to Split Rock Resort. At the first traffic light, turn right on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort. 2 Hours.</p>
<h3>From Newark Liberty International Airport (EWR)</h3>

<p>Newark, NJ. Interstate 78 West to Rt. 24 North to Rt. 287 North to Interstate 80 West towards Delaware Water Gap. In Pennsylvania, continue to Exit 284 (Blakeslee) and turn right on to Rt. 115 North to 1st traffic light. Make a left onto Rt. 940 West and follow the signs to Split Rock Resort. At the next traffic light, turn left on to Moseywood Road, you will see two large stone pillars at the entrance to Split Rock Resort. 1 Hour, 30 Minutes.</p></div>

      </div>


            
            <div class="hr"></div>
        </div>
    </div>
</div>
</article>
</section>







    

   
    {% include footer.html %}
    {% include script-all-pages.html %}



</body>
</html>