<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption left">

                      <h1>{{items.heading}}</h1>

                        <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>



<section>

    <div class="entry">

      <div class="row ">

        <div class="intro-text">

          <h2>Upcoming Events and Entertainment</h2>

          <p>From <strong>live music</strong> to Pennsylvania’s most popular <strong>wine and food festival</strong>, Split Rock Resort continues to host some of the <strong>most anticipated events in the Poconos</strong>. Our signature events, <!--the <strong>Great Brews Classic Beer Festival</strong> and--> including the <strong>Great Tastes of Pennsylvania Wine & Food Festival</strong>, are held annually on the shores of <strong>Lake Harmony</strong>. Book your stay with us, and you will have <strong>convenient access</strong> to all of our fun events.</p>

          <p>Don't forget to check out the weekly <a href="/pdfs/Split-Rock-Resort-Activity-Schedule.pdf" target="_blank" onClick="ga('send', 'event', 'pdflink', 'click', 'Split-Rock-Resort-Activity-Schedule');"><strong>Activity Schedule</strong></a> or pick up a copy in the lobby. From <strong>board games</strong> and <strong>bingo</strong> to <strong>dodgeball</strong> and <strong>turtle racing</strong>, there's always something fun going on at Split Rock Resort.</p>

        </div>

      </div>

    </div>

  </section>

  

{% for items in site.data._models.events.events limit:2 %}

  <section>

    <div class="two-column-text">

      <div class="row">

        <div class="col1 left"> 

           <br/>

          <a href="{{items.img-url}}"><img data-interchange="[{{items.img-data}}, (default)], [{{items.img-data}}, (only screen and (max-width: 400px))]" src="{{items.img-data}}" alt="{{tag-name}}"></a>

          <h3>{{items.heading}}</h3>


         {{items.content}}

         {% if items.date != "none"%}

         <p>Save The Date: {{items.date}}</p>

         {% endif %}

         {% if items.button != "none"%}

         <p><a href="{{img-url}}" class="bttn filled">{{items.button}}</a></p>

         {% endif %}

        

        </div>

        <div class="col1 right"> 

            <br/>

          <a href="{{items[forloop.index].img-url}}"><img data-interchange="[{{items[forloop.index].img-data}}, (default)], [{{items[forloop.index].img-data}}, (only screen and (max-width: 400px))]" src="{{items[forloop.index].img-data}}" alt="{{tag-name}}"></a>

          <h3>{{items[forloop.index0].heading}}</h3>


         {{items[forloop.index].content}}


        {% if items[forloop.index].date != "none"%}

         <p>Save The Date: {{items[forloop.index].date}}</p>

         {% endif %}

         {% if items[forloop.index].button != "none"%}

         <p><a href="{{items[forloop.index].img-url}}" class="bttn filled">{{items[forloop.index].button}}</a></p>

         {% endif %}

          
        </div> 

        

        <div class="clearfix"></div>

      </div>

    </div>

   

  </section>

{% endfor %}
  


  <section>

    <div class="text-with-gallery detail">

      <div class="row detail">

        <div class="hr-content-width" style="margin: -25px 20px 0px 20px;"></div>

      </div>

    </div>

  </section>

  <section>

    <div class="two-column-text">

      <div class="row ">

        <h2>

        On-Site Musical Entertainment Schedule

        </h3>

         <div class="col1 left">

          <h4>Rock Lounge</h4>

          

<p>
 1/15 - John Graham Magic<br>

1/16 - Steel Creek Band<br>

1/22 - John Graham Magic<br>

1/23 - Krazy Ken DJ<br>

1/29 - John Graham Magic<br>

1/30 - Who Knows Trio<br>



            

          </p>

          <h4>Thirsty Moose </h4>

          

                <p>

               1/15 - Wisecrackers Comedy Show<br>

1/16 - Who Knows Band<br>

1/22 - Wisecrackers Comedy Show<br>

1/22 – DJ Mike<br>

1/23 - High Strung<br>

1/29 - Wisecrackers Comedy Show<br>

1/30 - Krazy Ken DJ<br>


</p>

          
          

        </div>

        <div class="col2 right"> 

          <!--  <h4>Lake View Tavern <br><span style="font-weight:normal;">(Exclusive Dinner 6pm-11pm)</span></h4>

                    <p>

          07/03 - Harry Western

                     <br><br>



                </p> -->

          
<h4>Waterpark</h4>

          

                <p>

              Teen Night with DJ Marc Anthony<br>

Friday, January 15th<br>

Friday, January 22nd<br>

Friday, January 29th<br>


</p>
          

          

        </div>

       

      </div>

    </div>

  </section>





 

    
{% include script-all-pages.html %}
   
    {% include footer.html %}



</body>
</html>