<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}
<style type="text/css">
.entry .row .content.gallery img {
  float: none;
  margin: 11px 15px !important;
  padding-bottom: 0 !important;
}
.entry .row .content.gallery a {
  float: left;
  text-align: center;
  margin-bottom: 30px;
}
.entry .row .content a span, .entry .row .content a span:hover, .entry .row .content.gallery a:link, .entry .row .content.gallery a:visited {
  text-decoration: none;
  font-size: .95em;
}
a:focus, *:focus {
 noFocusLine: expression(this.onFocus=this.blur());
  outline: 0;
}
.gallery a {
  position: relative;
  float: left;
  margin: 5px;
}
</style>
  <section>

<div id="hero-section" class="page full">
    <div class="caption-wrapper">
        <div class="caption left">
            
            
        </div>
    </div>
</div>
</section>

  <div id="toggleheader"></div>


<section>
  <div class="featured-item">
    <div class="row">
      {% region gallery_header %}
    </div>
  </div>
</section>
<section>
<article>
  <div class="entry">
    <div class="row"> 
    
      <div class="content detail gallery">
        <h3>Exterior &amp; Grounds</h3>
        {% assign gallery_pics = site.data._models.gallery | sort: "order" %}
        {% for ra in gallery_pics %}
        
          <a href= {{ra.image.url}} title = {{ ra.name }} >
          <img src= {{ra.image.url | replace: "800x600", "435x275" | replace: "800x534", "435x275" | replace: "large", "small" }} width="271" height="170" alt= {{ ra.name }} ><br />
          <span>{{ ra.name }}</span></a>
        {% endfor %}
        
        <div class="hr"></div>
      </div>
      
      
      
      <div class="content detail gallery">
        <h3>Lobby and Common Areas</h3>
          {% for ra in site.data._models.gallery_lobby %}
            <a href= {{ra.image.url}} title = {{ ra.name }} >
            <img src= {{ra.image.url | replace: "800x534", "435x275" }} width="271" height="170" alt= {{ ra.name }} ><br />
            <span>{{ ra.name }}</span></a>
          {% endfor %}
        
        <div class="hr"></div>
      </div>

      
      <div class="content detail gallery">
        <h3>Rooms &amp; Suites</h3>
        {% for ra in site.data._models.gallery_rooms_suites %}
          <a href= {{ra.image.url}} title = {{ ra.name }} >
            <img src= {{ra.image.url | replace: "800x600", "435x275" | replace: "800x534", "435x275" | replace: "large", "small" }} width="271" height="170" alt= {{ ra.name }} ><br />
            <span>{{ ra.name }}</span></a>
        {% endfor %}
        <hr style="visibility: hidden; margin: 0;">
        <div class="hr"></div>
      </div>
      
      <!--    <div class="content detail gallery">
    <h3>Meeting Rooms &amp; Ballroom</h3> 
        
        
            <a href="/img/photo-gallery/800x534-Galleria-Conf-Room-6.jpg" title="Split Rock Resort"><img src="/img/photo-gallery/435x275-Galleria-Conf-Room-6.jpg" width="271" height="170" alt="Split Rock Resort"><br /><span>Split Rock Resort</span></a>  
            
        
        
          <div class="hr"></div>
        </div>
-->
      
      <div class="content detail gallery">
        <h3>Hotel Dining</h3>
          {% for ra in site.data._models.gallery_hotel_dining %}
          <a href= {{ra.image.url}} title = {{ ra.name }} >
            <img src= {{ ra.image.url | replace: "800x600", "435x275" | replace: "800x534", "435x275"  }} width="271" height="170" alt= {{ ra.name }} ><br />
            <span>{{ ra.name }}</span></a>
        {% endfor %}
        
        
        <br>
        <div class="hr"></div>
      </div>
    </div>
  </div>
</article>
</section>



    {% include footer.html %}

     {% include script-all-pages.html %}



</body>
</html>