<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}
<style type="text/css">
.entry .row .content.gallery img {
  float: none;
  margin: 11px 15px !important;
  padding-bottom: 0 !important;
}
.entry .row .content.gallery a {
  float: left;
  text-align: center;
  margin-bottom: 30px;
}
.entry .row .content a span, .entry .row .content a span:hover, .entry .row .content.gallery a:link, .entry .row .content.gallery a:visited {
  text-decoration: none;
  font-size: .95em;
}
a:focus, *:focus {
 noFocusLine: expression(this.onFocus=this.blur());
  outline: 0;
}
.gallery a {
  position: relative;
  float: left;
  margin: 5px;
}
</style>
  <section>

<div id="hero-section" class="page full">
    <div class="caption-wrapper">
        <div class="caption left">
            
            
        </div>
    </div>
</div>
</section>

  <div id="toggleheader"></div>


<section>
  <div class="featured-item">
    <div class="row">
      {% region gallery_header %}
    </div>
  </div>
</section>
<section>
<article>
  <div class="entry">
    <div class="row"> 
    
      <div class="content detail gallery">
        <h3>Exterior &amp; Grounds</h3>
        {% for ra in site.data._models.gallery %}

          <a href= {{ra.image.url}} title = {{ ra.name }} >
          <img src= {{ra.image.url | replace: "800x600", "435x275" | replace: "800x534", "435x275" | replace: "large", "small" }} width="271" height="170" alt= {{ ra.name }} ><br />
          <span>{{ ra.name }}</span></a>
        {% endfor %}
        
        <div class="hr"></div>
      </div>
      
      
      
      <div class="content detail gallery">
        <h3>Lobby and Common Areas</h3>
          {% for ra in site.data._models.gallery_lobby %}
            <a href= {{ra.image.url}} title = {{ ra.name }} >
            <img src= {{ra.image.url | replace: "800x534", "435x275" }} width="271" height="170" alt= {{ ra.name }} ><br />
            <span>{{ ra.name }}</span></a>
          {% endfor %}
        
        <div class="hr"></div>
      </div>

      
      <div class="content detail gallery">
        <h3>Rooms &amp; Suites</h3>
        {% for ra in site.data._models.gallery_rooms_suites %}
          <a href= {{ra.image.url}} title = {{ ra.name }} >
            <img src= {{ra.image.url | replace: "800x600", "435x275" | replace: "800x534", "435x275" | replace: "large", "small" }} width="271" height="170" alt= {{ ra.name }} ><br />
            <span>{{ ra.name }}</span></a>
        {% endfor %}
        <hr style="visibility: hidden; margin: 0;">
        <div class="hr"></div>
      </div>
      
      <!--    <div class="content detail gallery">
    <h3>Meeting Rooms &amp; Ballroom</h3> 
        
        
            <a href="/img/photo-gallery/800x534-Galleria-Conf-Room-6.jpg" title="Split Rock Resort"><img src="/img/photo-gallery/435x275-Galleria-Conf-Room-6.jpg" width="271" height="170" alt="Split Rock Resort"><br /><span>Split Rock Resort</span></a>  
            
        
        
          <div class="hr"></div>
        </div>
-->
      
      <div class="content detail gallery">
        <h3>Hotel Dining</h3>
        <a href="/img/photo-gallery/800x600-Split-Rock-Convenience-Area.jpg" title="Split Rock Convenience Area"><img src="/img/photo-gallery/435x275-Split-Rock-Convenience-Area.jpg" width="271" height="170" alt="Split Rock  Convenience Area"><br /><span>Split Rock - Galleria Grab n Go</span></a>
        
         <a href="/img/photo-gallery/800x534-Galleria-Grab-Go-10.jpg" title="Split Rock Resort - Galleria Grab n Go"><img src="/img/photo-gallery/435x275-Galleria-Grab-Go-10.jpg" width="271" height="170" alt="Split Rock Resort - Galleria Grab n Go"><br /><span>Split Rock Resort - Galleria Grab n Go</span></a>
         
          <a href="/img/photo-gallery/800x534-Galleria-Grab-Go-7.jpg" title="Split Rock Resort - Galleria Grab n Go"><img src="/img/photo-gallery/435x275-Galleria-Grab-Go-7.jpg" width="271" height="170" alt="Split Rock Resort - Galleria Grab n Go"><br /><span>Split Rock Resort - Galleria Grab n Go</span></a> 
          
          <a href="/img/photo-gallery/800x534-Galleria-Grab-Go-15.jpg" title="Split Rock Resort - Galleria Grab n Go"><img src="/img/photo-gallery/435x275-Galleria-Grab-Go-15.jpg" width="271" height="170" alt="Split Rock Resort - Galleria Grab n Go"><br /><span>Split Rock Resort - Galleria Grab n Go</span></a> 
          
          <a href="/img/photo-gallery/800x534-Galleria-Grab-Go-1.jpg" title="Split Rock Resort - Galleria Grab n Go"><img src="/img/photo-gallery/435x275-Galleria-Grab-Go-1.jpg" width="271" height="170" alt="Split Rock Resort - Galleria Grab n Go"><br /><span>Split Rock Resort - Galleria Grab n Go</span></a> 
          
          <a href="/img/photo-gallery/800x534-Galleria-Food-Court-11.jpg" title="Split Rock Resort - Galleria Food Court"><img src="/img/photo-gallery/435x275-Galleria-Food-Court-11.jpg" width="271" height="170" alt="Split Rock Resort - Galleria Food Court"><br /><span>Split Rock Resort - Galleria Food Court</span></a>
          
           <a href="/img/photo-gallery/800x534-Galleria-Food%20Court-3.jpg" title="Split Rock Resort - Galleria Food Court"><img src="/img/photo-gallery/435x275-Galleria-Food%20Court-3.jpg" width="271" height="170" alt="Split Rock Resort - Galleria Food Court"><br /><span>Split Rock Resort - Galleria Food Court</span></a>
           
            <a href="/img/photo-gallery/800x600-Split-Rock-Grill-Dining-Room.jpg" title="Split Rock Grill"><img src="/img/photo-gallery/435x275-Split-Rock-Grill-Dining-Room.jpg" width="271" height="170" alt="Split Rock Grill"><br /><span>Split Rock Grill</span></a> 
            
            <a href="/img/photo-gallery/800x600-Split-Rock-Grill-Buffet-Area.jpg" title="Split Rock Grill"><img src="/img/photo-gallery/435x275-Split-Rock-Grill-Buffet-Area.jpg" width="271" height="170" alt="Split Rock Grill"><br /><span>Split Rock Grill</span></a> 
            
            <a href="/img/photo-gallery/800x600-Split-Rock-Deli.jpg" title="Split Rock Deli"><img src="/img/photo-gallery/435x275-Split-Rock-Deli.jpg" width="271" height="170" alt="Split Rock Deli"><br /><span>Split Rock Deli</span></a> 
            
            <a href="/img/photo-gallery/800x534-Lodge-Thirsty-Moose-11.jpg" title="Thirsty Moose"><img src="/img/photo-gallery/435x275-Lodge-Thirsty-Moose-11.jpg" width="271" height="170" alt="Thirsty Moose"><br /><span>Thirsty Moose</span></a>
            
             <a href="/img/photo-gallery/800x534-Lodge-Thirsty-Moose-6.jpg" title="Thirsty Moose"><img src="/img/photo-gallery/435x275-Lodge-Thirsty-Moose-6.jpg" width="271" height="170" alt="Thirsty Moose"><br /><span>Thirsty Moose</span></a>
             
              <a href="/img/photo-gallery/800x534-Lakeview-Tavern-14.jpg" title="Lake View Tavern"><img src="/img/photo-gallery/435x275-Lakeview-Tavern-14.jpg" width="271" height="170" alt="Lake View Tavern"><br /><span>Lake View Tavern</span></a> 
              
              <a href="/img/photo-gallery/800x534-Galleria-Split-Rock-Bar-1.jpg" title="Split Rock Bar"><img src="/img/photo-gallery/435x275-Galleria-Split-Rock-Bar-1.jpg" width="271" height="170" alt="Split Rock Bar"><br /><span>Split Rock Bar</span></a>
              
               <a href="/img/photo-gallery/800x534-Galleria-Split-Rock-Bar-2.jpg" title="Split Rock Bar"><img src="/img/photo-gallery/435x275-Galleria-Split-Rock-Bar-2.jpg" width="271" height="170" alt="Split Rock Bar"><br />
        <span>Split Rock Bar</span></a> <br>
        
        
        <br>
        <div class="hr"></div>
      </div>
    </div>
  </div>
</article>
</section>



    {% include footer.html %}

     {% include script-all-pages.html %}



</body>
</html>