<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>

    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption left">

                      <h1>{{items.heading}}</h1>

                        <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>
<section>
<div class="text-with-gallery detail">
    <div class="row  detail">
        <div class="content">
         

          {% region editable-content-1 %}
           
           

    <div class="hr-content-width" style="margin: 0 0 25px 0;"></div>

          {% region editable-content-2 %}
           
           
           
           
           

         

                <div>
                    <div class="hr-content-width" style="margin: 0 0 25px 0;"></div>
                    <h3>Inquiry Form</h3>
          
          <p>Looking for the <strong>perfect event space?</strong> We have it at Split Rock Resort. Please complete the <strong>Request for Proposal</strong> here and one of our sales specialists will be in touch with you</p>
                <script type="text/javascript" src="https://form.jotform.me/jsform/53081189488466"></script>
          </div>
            </div>
        </div>
    </div>
</div>
</section>





  {% include sign-up.html %}

    

   
    {% include footer.html %}
    {% include script-all-pages.html %}



</body>
</html>