<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>

    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption left">

                      <h1>{{items.heading}}</h1>

                        <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>
<section>
<div class="text-with-gallery detail">
    <div class="row  detail">
        <div class="content">
          <h2>Come One, Come All!</h2>
            <p>We invite you to plan your <strong>reunions, group vacations, family getaways, corporate retreats</strong>, and other large functions at Split Rock Resort! Our full-service resort hosts a ton of on-site amenities, meeting spaces, and a variety of accommodations that make meeting up in the beautiful Poconos easy and fun. Whether you’re organizing a <strong>Boy or Girls Scouts Troop</strong> or a <strong>large family reunion</strong>, our knowledgeable staff will help you plan a memorable experience that will be a hit with your friends, family, or colleagues.</p>
            
            
          <h3>It’s a Family Affair!</h3>
          
          <p>Let us do the cooking and cleaning while you and your family enjoy a relaxing vacation! Our staff understands the level of detail that can go into planning a reunion. Finding time to coordinate everything while you are working can be difficult, so give us a call and we'll do the rest!</p>
          
          <p>Split Rock <strong>Family Reunion Packages</strong> are available for both midweek and weekends. We can customize the perfect package for you with items like:</p>



           <ul>
             <li>Deluxe  Overnight Accommodations</li>
             <li>Breakfast  Served Daily</li>
             <li>Dinner  Served Daily</li>
             <li>Dinner  choice of Private Banquet or Beach BBQ</li>
             <li>Official  Reunion T-Shirt</li>
             <li>Portrait  Remembrance Photo</li>
             <li>Daily  Activity &amp; Recreation Program</li>
             <li>Split  Rock Kids Camp</li>
             <li>Complimentary  Recreation Passes</li>
             <li>Custom  Cake for Family Dinner Night</li>
             <li>Complimentary  Hospitality Room</li>
             <li>Complimentary  Welcome Reception (alcohol not included)</li>
           </ul>

<p>Call (888) 802-2348 and ask to speak with our sales department for more information.</p><br>

<p>*Add ons available upon request for an additional cost.</p>



          



    <div class="hr-content-width" style="margin: 0 0 25px 0;"></div>

          {% region editable-content-1 %}
           
           

    <div class="hr-content-width" style="margin: 0 0 25px 0;"></div>

          {% region editable-content-2 %}
           
           
           
           
           

         

                <div>
                    <div class="hr-content-width" style="margin: 0 0 25px 0;"></div>
                    <h3>Inquiry Form</h3>
          
          <p>Looking for the <strong>perfect event space?</strong> We have it at Split Rock Resort. Please complete the <strong>Request for Proposal</strong> here and one of our sales specialists will be in touch with you</p>
                <script type="text/javascript" src="https://form.jotform.me/jsform/53081189488466"></script>
          </div>
            </div>
        </div>
    </div>
</div>
</section>





  {% include sign-up.html %}

    

   
    {% include footer.html %}
    {% include script-all-pages.html %}



</body>
</html>