
<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}

  {% include header-booking-widget.html %}

  <section>
<div id="hero-section" class="full slideshow" style="padding-top:47px;">

    <div class="home-slider">
    
                {% for items in site.data.home-carousel.slider %}

       <div><a href="{{items.url}}"><img data-interchange="{{items.img-data}}" alt="{{items.tool-tip}}"></a></div>

                {% endfor %}
  

    </div>
</div>
</section>
 
<div id="toggleheader"></div>

    <!-- Book your stay widget home page widget -->


    <section>
<div class="row">
	<div id="search-container" class="clearfix desktop-booking">
    	<h1 class="left">Book your stay</h1>
        <!--<a href="https://gc.synxis.com/rez.aspx?start=searchres&amp;hotel=63406&amp;src=prop" class="option-link">Modify / cancel a reservation</a>-->
        <div class="hr"></div>
        
               <form id="form-res" name="BookingBarHome_Split_Rock_Resort" action="https://splitrockresort.reztrip.com/search">

        
        
  
         <div class="arrive_depart_container left">
            <div class="hotel_arrive left"><label for="datein-home" class="booking_label">Check-in</label>
                <input type="text" placeholder="MM/DD/YYYY" readonly id="datein-home" name="arrival_date" class="date_picker datein"/>
            </div>
            <div class="hotel_depart left"><label for="dateout-home" class="booking_label ">Check-out</label>
                <input type="text" placeholder="MM/DD/YYYY" readonly id="dateout-home" name="departure_date" class="date_picker dateout"/>
            </div>
        </div>
        <div class="more_hotel_options">
            <div class="hotel_select left rac"><label for="hotel-rooms" class="booking_label">Rooms:</label>
                <div class="hotel_custom_select_small">
                    <select name="rooms" id="hotel-rooms">
                    	
                        <option value="1" selected label="1 Room">1 Room</option>
                        <option label="2 Rooms" value="2">2 Rooms</option>
                        <option label="3 Rooms" value="3">3 Rooms</option>
                        
                    </select>
                </div>
            </div>
            <div class="hotel_select left rac"><label for="hotel-adults" class="booking_label">Adults:</label>
                <div class="hotel_custom_select_small">
                    <select id="hotel-adults" name="adults[]">
                        <option label="1 Adult" value="1">1 Adult</option>
                          <option value="2" selected label="2 Adults">2 Adults</option>
                        <option label="3 Adults" value="3">3 Adults</option>
                        <option label="4 Adults" value="4">4 Adults</option>
                        <option label="5 Adults" value="5">5 Adults</option>
                        <option label="6 Adults" value="6">6 Adults</option>
                        <option label="7 Adults" value="7">7 Adults</option>
                        <option label="8 Adults" value="8">8 Adults</option>
                        <option label="9 Adults" value="9">9 Adults</option>
                        <option label="10 Adults" value="10">10 Adults</option>
                    </select>
                </div>
            </div>
            <div class="hotel_select left rac child_num"><label for="hotel-child" class="booking_label">Children:</label>
                <div class="hotel_custom_select_small">
                    <select id="hotel-child" name="children[]">
                        <option label="0" value="0">0</option>
                        <option label="1" value="1">1</option>
                        <option label="2" value="2">2</option>
                        <option label="3" value="3">3</option>
                        <option label="4" value="4">4</option>
                        <option label="5" value="5">5</option>
                        <option label="6" value="6">6</option>
                        <option label="7" value="7">7</option>
                        <option label="8" value="8">8</option>
                        <option label="9" value="9">9</option>
                        <option label="10" value="10">10</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
			
            <div class="hotel_submit">
                <input type="submit" value="Check Availability" class="bttn filled">
            </div>
            
            <div class="more_hotel_options_2">
            	<div class="options_wrapper">
                	<div class="flexDates">

                        <input type="hidden" value="availresults" name="start"/>
                        <input type="checkbox" id="flexDates" name="flexDates" />
                        <label for="flexDates"></label>
                        <span class="info">Flexible Dates</span>
                    </div>
                </div>
                <div class="options_wrapper">
                	<div class="optionalCodes">
                        <input type="checkbox" value="1" id="optionalCodes" name="check" />
                        <label for="optionalCodes"></label>
                        <span class="info">Optional Codes</span>
                    </div>
                </div>
                <div class="options_wrapper">
                
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="promo_codes">
            	<!--<span class="heading">Add Your Promo Codes</span>-->
                <div class="hotel_select left rac" style="margin-right: 15px; white-space: nowrap;">
                <label for="promocode" class="booking_label">Promo Code:</label>
                    <input type="text" id="promocode" name="offer_code" maxlength="20" value="">
                </div>
                
                <div class="hotel_select left rac" style="white-space: nowrap;">
                	<label for="iatacode" class="booking_label">IATA Code:</label>
                    <input type="text" id="iatacode" name="iata_code" maxlength="20" value="">
                </div>
            </div>

       	</div>
	</form>
    </div>
</div>
</section>
<div class="main-hr"></div>
<section>
<div class="single-image">
    <div class="row">
    	<a href="{{obj.promo-section.url}}"><img src="{{obj.promo-section.img-src}}" alt="Split Rock Resort"></a>
    </div>
</div>
</section>



    <!-- end of widget -->

    <section>
<div class="text-with-gallery">
    <div class="row">
        <div class="content">
            <h2>LET YOUR SPIRIT RUN FREE</h2>
            <div class="text left">
              {% region home_first %}
            </div>          
           </div>
            <div class="gallery right">
            <div class="gallerygroup">
                <a href="/img/photo-gallery/SRR-800x600-Lodge-Lake-Harmony.jpg" title="Split Rock Resort Lodge Lake Harmony"><img src="/img/photo-gallery/SRR-435x275-Lodge-Lake-Harmony.jpg" width="215" height="137" alt="Split Rock Resort Lodge Lake Harmony"></a>
                <a href="/img/photo-gallery/SRR-800x600-Exterior-Split-Rock.jpg" title="Split Rock Resort Exterior"><img src="/img/photo-gallery/SRR-435x275-Exterior-Split-Rock.jpg" width="215" height="137" alt="Split Rock Resort Exterior"></a>
                <a href="/img/photo-gallery/SRR-800x600-Willowbrook-Two-Bedroom.jpg" title="Split Rock Resort Willowbrook Two Bedroom"><img src="img/photo-gallery/SRR-435x275-Willowbrook-Two-Bedroom.jpg" width="215" height="137" alt="Split Rock Resort Willowbrook Two Bedroom"></a>
                <a href="/img/photo-gallery/SRR-800x600-Lakeside-Lodge.jpg" title="Split Rock Resort Lakeside Lodge"><img src="img/photo-gallery/SRR-435x275-Lakeside-Lodge.jpg" width="215" height="137" alt="Split Rock Resort Lakeside Lodge"></a> 
                </div><div class="clearfix"></div>
<br class="clearfix"><p align="center"><a href="/resort-overview/rooms-suites/" class="bttn filled">Rooms &amp; Amenities</a></p>
            </div>
        </div>
         <div class="row" style="background: url('img/sprite-2.png') repeat-x scroll 0 -1203px #969681;">
        <div class="content">
            <h3 style="color: #ffffff;">Exciting Property Improvements Complete</h3>
            {% region home_second %}
<!--<p style="color: #ffffff;">We appreciate your patience while we undergo these renovations and will make every effort to make your stay with us a pleasant one!</p>-->
        </div>
        </div>
</div>
   

</section>
<section>
<div class="special" data-interchange="[/img/home-special.jpg, (default)], [/img/home-special-large.jpg, (only screen and (min-width: 1500px))]">
    <div class="row">
        <div class="offer-wrapper clearfix">
            <div class="offer">
                <a href="/waterpark/"><img src="/img/special-home-details.png" width="363" height="119" alt="Indoor Water Park On-Site at Split Rock Resort"></a>
               
                {% region home_third %}
              
            </div>
        </div>
    </div>
</div>
</section>
<section>
<div class="full-text">
    <div class="row">
        {% region home_fourth %}
    </div>
</div>
</section>



    {% include sign-up.html %}

   


    <section>
 <div class="hr"></div>
<div class="two-column-text">
    <div class="row">
        <div class="col1 left"><br/>
            
            {% region home_h2oowaterpark-image %}
            {% region home_h2oowaterpark %}

        </div>

        <div class="col2 right"><br/>
            

             {% region editable-content-3 %}
             {% region editable-content-4 %}


        </div>
   
    </div>
</div>
</section>

    
   
   
    {% include footer.html %}
     {% include scripts.html %}


  </body>

</html>
