<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}
  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
    {% include booking-widget-all-pages.html %}
    {% for items in site.data.banners.slider %}
    {% if page.title == items.title %}
    <section>
      <div id="hero-section" class="page full">
        <div class="caption-wrapper">
          <div class="caption left">
            <h1>{{items.heading}}</h1>
            <h4>{{items.sub-heading}}</h4>
          </div>
        </div>
        <div class="single-image-hero">
          <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">
        </div>
      </div>
    </section>
    {% endif %}
    {% endfor %}
    <div id="toggleheader"></div>
    <section>
      <div class="two-column-text">
        <div class="row  detail">
          <div class="content" style="padding-top:20px;">
           {% region music_title_date %}
           
            <div class="col1 left">
              {% region music_content %}
             
            </div>
            <div class="col2 right">
              {% region music_banner_image %}
              <br>
              <!--<a href="https://tix.extremetix.com/Online/PennsylvaniaBluesFestival" target="_blank" rel="nofollow" class="bttn empty">BUY TICKETS</a>-->
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include sign-up.html %}
    {% include footer.html %}
    {% include script-all-pages.html %}
  </body>
</html>