<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption left">

                      <h1>{{items.heading}}</h1>

                        <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>



<section>

<div class="two-column-text">

    <div class="row  detail">

        <div class="content" style="padding-top:20px;">

          <h2>Pennsylvania Music Festival</h2>

            <h4>October 29 & 30, 2016</h4>




<div class="col1 left">


<p></p>
            


              <p>This year <strong>Split Rock Resort</strong> is hosting its very first <strong>Music Fest</strong>. This festival is an event music lovers of all genres will love with a variety of blues, rock, roots, country, and folk bands.</p>

     <p><strong>Friday, October 28</strong><br>
     	Thirsty Moose Bash<br>
        Dustin Douglas & Electric Gentlemen 9PM-1AM
     </p>
     
     <p><strong>Saturday, October 29</strong><br>
     	Main Stage: Governor's Ballroom<br>
        Spuyten Duyvil 1PM-2:15PM<br>
        Girls, Guns, & Glory 2:45PM-4PM<br>
        Craig Thatcher & Friends 4:30PM-5:45PM<br>
        CJ Chenier & The Red Hot Louisiana Band 6:15-7:30PM<br>
        Devon Allman 8PM-9:30PM
     </p>
     
     <p>Keystone Ballroom Stage<br>
     	Burning Bridget Clearly 1:30PM-2:45PM<br>
        Coal Town Rounders 3:15PM-4:30PM<br>
        Hannah Taylor & The Rekardo Lee Trio 5PM-6:15PM<br>
        Burning Bridget Clearly 6:45PM-8PM<br>
        Coal Town Rounders 8:30PM-9:30PM
     </p>
         <p>Thirsty Moose Bash<br>
         	Spuyten Duyvil & Friends 9PM-1AM
         </p>     
		<p>
        	<strong>Sunday, October 30</strong><br>
            Main Stage: Governor's Ballroom<br>
            Alexis P Suter & The Ministers of Sound 12PM-1:15PM<br>
            Mason Porter 1:45PM-3PM<br>
            The Badlees 3:30PM-4:45PM<br>
            Paul Thorn 5:15PM-6:30PM<br>
            Royal Southern Brotherhood 7PM-8:30PM
        </p>
        <p>Keystone Ballroom Stage<br>
        Still Hand String Band 12:30PM-1:30PM<br>
        Seth Walker 2PM-3PM<br>
        Spuyten Duyvil & Friends 3:30PM-4:45PM<br>
        Still Hand String Band 5:15PM-6:30PM<br>
        Seth Walker 7PM-8PM<br>
        </p>
        
        <p>Thirsty Moose Bash<br>
        Spuyten Duyvil & Friends 8PM-12AM<br>
        </p>
        
        <p><a href="http://tix.extremetix.com/webtix/4357" target="_blank" rel="nofollow" class="bttn empty">Buy Tickets</a></p>
</div>

            <div class="col2 right">

 <img src="/img/435x275-music-fest.jpg" alt=""><br>
 

  <!--<a href="https://tix.extremetix.com/Online/PennsylvaniaBluesFestival" target="_blank" rel="nofollow" class="bttn empty">BUY TICKETS</a>-->

            </div>

      </div>

    </div>

</div>

</section>












  {% include sign-up.html %}

    

   
    {% include footer.html %}
    {% include script-all-pages.html %}



</body>
</html>