<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}

  <section>

<div id="hero-section" class="page full">
    <div class="caption-wrapper">
        <div class="caption left">
            
            
        </div>
    </div>
</div>
</section>

  <div id="toggleheader"></div>


<section>
<div class="text-with-gallery detail">
    <div class="row  detail">
        <div class="content">
        	
          {% region editable-content %}


    </div>
    </div>
</div>
</section>





  {% include sign-up.html %}

    

   
    {% include footer.html %}

    {% include script-all-pages.html %}



</body>
</html>