<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption left">

                      <h1>{{items.heading}}</h1>

                        <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>



<section>
    <div class="text-with-gallery detail">
      <div class="row  detail">
        <div class="content">
          {% region party_first %}     
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="two-column-text special-offers">
      <div class="row">
      {% region party_second %}
      </div>
  </section>
  
  
  <section>
    <div class="two-column-text special-offers">
      <div class="row">
         {% region party_third %}
        
      </div>
    </div>
  </section>
  

  <section>
    <div class="text-with-gallery detail">
      <div class="row  detail">
        <div class="content">
          
          <p><strong>Gift bags will include - Frisbee sunglasses, stickers, tattoos, and more…</strong></p><p>
          Only $5.99 per person (plus tax and service fees)</p>
          

          </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="text-with-gallery detail">
      <div class="row  extra-padding">
        <div class="content">
          <h3>Private Parties</h3>
          <p>Call us to find out about Private Water Park Rentals to make your event unique and memorable at <strong>1-888-802-2348 x812</strong>.</p>
          <p><a href="/pdfs/H20-Invitations.pdf" target="_blank">Download our exclusive H2Oooohh! Party Invitations (PDF)</a></p>
          <h3>Group Fun</h3>
          <p>Looking for the ultimate group destination? We cover <a href="/groups/">every type of group</a>: <strong>Family Reunions</strong>, Boy or Girl Scout Troops, Youth & Adult Retreats, <strong>Motorcoach Day & Weekend Trips</strong>, Youth Groups, Summer Camps, Field Trips, <strong>Sports Teams</strong>, you name it! Our enthusiastic sales team is able to customize the perfect trip to Split Rock Resort for groups of any size. <a href="/groups/">More Info on Groups</a></p>
        </div>
      </div>
    </div>
  </section>





  {% include sign-up.html %}

    

   
    {% include footer.html %}

    {% include script-all-pages.html %}



</body>
</html>