<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption left">

                      <h1>{{items.heading}}</h1>

                        <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>



<section>
    <div class="text-with-gallery detail">
      <div class="row  detail">
        <div class="content">
          <h2>An Unforgettable Birthday</h2>
          <p>H2Oooohh! Indoor Water Park is the perfect place to make memories for any age. Kids will love our massive indoor wave pool, water slides, Leapin’ Lizards, and Jungle Falls. Try your skill, and balance, while trying to catch a wave via surfing or boogie boarding at our Komodo Dragon Flow Rider. Adults will feel instantly relaxed in our hot tubs and enjoy our full service Tiki Bar for delicious poolside refreshments.</p>
          <p><strong>Contact us at 570-215-6107</strong> for more information or to plan your party.</p>
          
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="two-column-text special-offers">
      <div class="row">
      <h3>H20ooohh! Indoor Water Splash Package</h3>
        <div class="col1 left">
          
          <ul>
            <li>4-hour Waterpark Pass</li>
            <li>Pizza Party & Beverages</li>
            <li>Ice Cream Cake</li>
            <li>Party area decorated with balloons</li>
            <li>Reserved Seating in the Water Park</li>
            <li>Guest Appearance from Splash</li>
            <li>Custom Online Printable Invitations</li>
            <li>Complimentary Water Park Pass for the Birthday Person and two adult observers</li>
          </ul>
        </div>

        <div class="col1 right">
          <p>Total Package Price (based on a 10 person minimum) $399.99 <br>
            Each additional swimmer is $39.99<br></p>            
          <p> Observer is $25.99 per person<br>
          Arcade Pass $15.00 value $10 each 10 pass purchase minimum</p>
        </div>
        
      
    </div>
  </section>
  
  
  <section>
    <div class="two-column-text special-offers">
      <div class="row">
        <h3>Add a Snack Package</h3>
        <p><strong>Only $7.99 per person (plus tax and service fees)</strong></p><br>
        <div class="col1 left" style="padding-bottom:0;">
          <strong>Chocolate Overload</strong>
          <ul>
            <li>Fudge Brownies</li>
            <li>Chocolate Chip Cookies</li>
            <li>Soft Drinks</li>
            <li>Chocolate Milk and 2% Milk</li>
          </ul>
          <strong>Favorite Frozen Treats</strong>
          <ul>
            <li>Ice Cream Bars and Sandwiches</li>
            <li>Frozen Yogurts</li>
            <li>Soft Drinks and Bottled Water</li>
          </ul>
          <strong>Snack Attack</strong>
          <ul>
            <li>Candy Bars</li>
            <li>Potato Chips, Pretzels and Popcorn</li>
            <li>Soft Drinks and Bottled Water</li>
          </ul>
          <p><strong>Chicken Fingers and French Fries</strong></p>
          
        </div>
        
        <div class="col2 right" style="padding-bottom:0;">
          <strong>Healthy Break</strong>
          <ul>
            <li>Whole Fresh Fruit</li>
            <li>Nutri-Grain and Granola Bars</li>
            <li>Bottled Water and Bottled Teas including</li>
            <li>Sweet, Unsweetened and Green Teas</li>
          </ul>
          <strong>Cookie Break</strong>
          <ul>
            <li>Whole Fresh Fruit</li>
            <li>Assorted Fresh Baked Cookies</li>
            <li>Soft Drinks and Bottled Water</li>
          </ul>
          <strong>Circus Break</strong>
          <ul>
            <li>Popcorn</li>
            <li>Soft Pretzels</li>
            <li>Funnel Cake Fries</li>
            <li>Churros</li>
          </ul>
         
         
            
          




        </div>
        
      </div>
    </div>
  </section>
  

  <section>
    <div class="text-with-gallery detail">
      <div class="row  detail">
        <div class="content">
          
          <p><strong>Gift bags will include - Frisbee sunglasses, stickers, tattoos, and more…</strong></p><p>
          Only $5.99 per person (plus tax and service fees)</p>
          

          </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="text-with-gallery detail">
      <div class="row  extra-padding">
        <div class="content">
          <h3>Private Parties</h3>
          <p>Call us to find out about Private Water Park Rentals to make your event unique and memorable at <strong>1-888-802-2348 x812</strong>.</p>
          <p><a href="/pdfs/H20-Invitations.pdf" target="_blank">Download our exclusive H2Oooohh! Party Invitations (PDF)</a></p>
          <h3>Group Fun</h3>
          <p>Looking for the ultimate group destination? We cover <a href="/groups/">every type of group</a>: <strong>Family Reunions</strong>, Boy or Girl Scout Troops, Youth & Adult Retreats, <strong>Motorcoach Day & Weekend Trips</strong>, Youth Groups, Summer Camps, Field Trips, <strong>Sports Teams</strong>, you name it! Our enthusiastic sales team is able to customize the perfect trip to Split Rock Resort for groups of any size. <a href="/groups/">More Info on Groups</a></p>
        </div>
      </div>
    </div>
  </section>





  {% include sign-up.html %}

    

   
    {% include footer.html %}

    {% include script-all-pages.html %}



</body>
</html>