<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}

  <section>

<div id="hero-section" class="page full">
    <div class="caption-wrapper">
        <div class="caption left">
            
            
        </div>
    </div>
</div>
</section>

  <div id="toggleheader"></div>


<section>
<div class="text-with-gallery detail">
    <div class="row detail">
        <div class="content">
          <h1>Press Reviews</h1><br>

            <section class="press-row grey">

                <article class="content">

                    {% region press_header_pensylvania %}


                    <p>Pennsylvania Blues Festival, which returned to the Poconos last year,  will return for its 25th year, headlined by two of the genre’s most decorated guitarists.</p>

                    <div class="readmore">

                        <a href="http://www.mcall.com/entertainment/lehigh-valley-music/mc-pennsylvania-blues-festival-to-feature-decorated-guitarists-delmark-records-revue-for-25th-year-20160117-column.html" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>

            <section class="press-row grey">

                <article class="content">
                    {% region press_header_movie_theatre %}

                   

                    <p>Split Rock Resort is excited to announce it will be hosting it’s annual Bridal Showcase on January 16, 2016, with a chance for one attendee to win a $5,000 wedding at Split Rock.</p>

                    <div class="readmore">

                        <a href="/pdfs/press/starwars.pdf" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>


            <section class="press-row grey">

                <article class="content">

                    {% region press_header_beer_fest %}
                    

                    
                    <p>Split Rock Resort is excited to announce the dates for its 25th Annual Great Brews Beer Fest, taking place on November 21st and 22nd</p>

                    <div class="readmore">

                        <a href="/pdfs/press/beer-fest.pdf" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>

            <section class="press-row grey">

                <article class="content">
                     {% region press_header_bridal_expo %}
                    

                    
                    <p>Split Rock Resort is excited to announce it will be hosting it’s annual Bridal Showcase on January 16, 2016, with a chance for one attendee to win a $5,000 wedding at Split Rock.</p>

                    <div class="readmore">

                        <a href="/pdfs/press/bridal-showcase-2016.pdf" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>


            <section class="press-row grey">

                <article class="content">

                     {% region press_header_blues_fest %}

                    

                    
                    <p>Split Rock Resort is excited to announce it will be hosting the 2016 award-winning Pennsylvania Blues Festival from September 16th-18th, celebrating 25 years of blues in the Poconos Mountains.</p>

                    <div class="readmore">

                        <a href="/pdfs/press/blues-fest-2016.pdf" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>

            <section class="press-row grey">

                <article class="content">

                     {% region press_header_brews_fest %}

                    
                    <p>The festival will feature more than a hundred beers from breweries such as Fegley's (Allentown and Bethlehem),</p>

                    <div class="readmore">

                        <a href="http://www.mcall.com/entertainment/dining/mc-gp-great-brews-beerfest-split-rock-20151118-story.html" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>

            <section class="press-row grey">

                <article class="content">

                    {% region press_header_spot_light %}

                   
                    
                    
                   
                    <p>The Split Rock Beer Festival returns to Carbon County this weekend. Beer enthusiasts from around the area will flock to the Split Rock Resort to take part in the annual event.</p>

                    <div class="readmore">

                        <a href="http://www.pahomepage.com/news/craft-beer-in-the-spotlight" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>

             <section class="press-row grey">

                <article class="content">
                    {% region press_header_poconos_travel %}

                    

                   
                    <p>Downtown Jim Thorpe, Pa., sometimes called "The Switzerland of America" is a storybook mix of turn-of-the-century charm with modern-day hipness.</p>

                    <div class="readmore">

                        <a href="http://www.nj.com/south-jersey-voices/index.ssf/2015/10/poconos_travel.html" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>



            <br>


            <div style="padding-top:20px;">
                <h3> Inquiry Form</h3>
                 <div class="hr-content-width" style="margin: 0 0 25px 0;"></div>
                

            <script type="text/javascript" src="https://form.jotform.me/jsform/53503692332452"></script>

        </div>


          
         


          



    </div>
    </div>
</div>
</section>





  {% include sign-up.html %}

    

   
    {% include footer.html %}

    {% include script-all-pages.html %}



</body>
</html>