<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}

  <section>

<div id="hero-section" class="page full">
    <div class="caption-wrapper">
        <div class="caption left">
            
            
        </div>
    </div>
</div>
</section>

  <div id="toggleheader"></div>


<section>
<div class="text-with-gallery detail">
    <div class="row detail">
        <div class="content">
          <h1>Press Reviews</h1><br>

			<section class="press-row grey">

                <article class="content">

                    {% region press_header_lake-harmony_pensylvania %}

                    {% region press_text_lake-harmony_pensylvania %}
                   

                    <div class="readmore">

                        <a href="http://beenheredonethat.com/split-rock-resort-lake-harmony-the-poconos-pennsylvania/" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>
            

            <section class="press-row grey">

                <article class="content">

                    {% region press_header_pensylvania %}

                    {% region press_text_pensylvania %}
                   

                    <div class="readmore">

                        <a href="http://www.mcall.com/entertainment/lehigh-valley-music/mc-pennsylvania-blues-festival-to-feature-decorated-guitarists-delmark-records-revue-for-25th-year-20160117-column.html" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>

            <section class="press-row grey">

                <article class="content">
                    {% region press_header_movie_theatre %}

                   {% region press_text_movie_theatre %}

                   

                    <div class="readmore">

                        <a href="/pdfs/press/starwars.pdf" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>


            <section class="press-row grey">

                <article class="content">

                    {% region press_header_beer_fest %}
                    
                     {% region press_text_beer_fest %}

                    
                    

                    <div class="readmore">

                        <a href="/pdfs/press/beer-fest.pdf" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>

            <section class="press-row grey">

                <article class="content">
                     {% region press_header_bridal_expo %}

                     {% region press_text_bridal_expo %}
                    

            

                    <div class="readmore">

                        <a href="/pdfs/press/bridal-showcase-2016.pdf" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>


            <section class="press-row grey">

                <article class="content">

                     {% region press_header_blues_fest %}

                     {% region press_text_blues_fest %}
                    

                    <div class="readmore">

                        <a href="/pdfs/press/blues-fest-2016.pdf" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>

            <section class="press-row grey">

                <article class="content">

                     {% region press_header_brews_fest %}

                     {% region press_text_brews_fest %}

                    
                  

                    <div class="readmore">

                        <a href="http://www.mcall.com/entertainment/dining/mc-gp-great-brews-beerfest-split-rock-20151118-story.html" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>

            <section class="press-row grey">

                <article class="content">

                    {% region press_header_spot_light %}

                    {% region press_text_spot_light %}


                    <div class="readmore">

                        <a href="http://www.pahomepage.com/news/craft-beer-in-the-spotlight" target="_blank">Read More >></a>



                    </div>





                </article>



            </section>

             <section class="press-row grey">

                <article class="content">
                    {% region press_header_poconos_travel %}

                    {% region press_poconos_travel_text %}
                    

                    <div class="readmore">

                        <a href="http://www.nj.com/south-jersey-voices/index.ssf/2015/10/poconos_travel.html" target="_blank">Read More >></a>

                    </div>





                </article>



            </section>



            <br>


            <div style="padding-top:20px;">
                <h3> {% region press_enquiry_form %} </h3>
                 <div class="hr-content-width" style="margin: 0 0 25px 0;"></div>
                

            <script type="text/javascript" src="https://form.jotform.me/jsform/53503692332452"></script>

        </div>


          
         


          



    </div>
    </div>
</div>
</section>





  {% include sign-up.html %}

    

   
    {% include footer.html %}

    {% include script-all-pages.html %}



</body>
</html>