
<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}
    <section>
<div id="hero-section" class="page full">
    <div class="caption-wrapper">
        <div class="caption right">
            <h1>Split Rock Resort</h1>
            <h4>A Four-Season Destination</h4>
        </div>
    </div>
    <div class="single-image-hero">
        <!--
        <img data-interchange="[/img/heros/650x600-property-overview.jpg, (small)],[/img/heros/1500x600-property-overview.jpg, (medium)], [/img/heros/2000x600-property-overview.jpg, (xlarge)]" src="/img/heros/1500x600-property-overview.jpg" alt="Split Rock Resort">-->

        {% region banner %}
    </div>
</div>
</section>
<div id="toggleheader"></div>

                <!-- section 1 START-->


                <section>
<div class="two-column-text rooms-section">
<div class="row extra-padding">
        <div class="col1 left">
            <h2>Resort Overview</h2>
                  <p>
           You don’t have to go very far to feel like <strong>you’re a world away</strong>. Situated on <strong>over 1,200 acres of forest and mountains</strong>, Split Rock Resort is a <strong>beautiful escape</strong> located only 4 miles from Exit 277 off Interstate 80 and exit 95 of the NE Extension of the Pennsylvania Turnpike. 
          </p>
<p>
Our resort offers <strong>suites, lodge rooms, villas, and cottages</strong> with distinctive <strong>mountain town charm</strong>. Our lodge rooms, part of the <strong>historic Split Rock Lodge</strong>, overlook expansive <strong>Lake Harmony</strong>. Our Willowbrook and Galleria suites are <strong>elegant</strong> and <strong>cozy</strong>, while our Villas at Westwood are perfect for long stays, featuring a <strong>fireplace, full kitchen, and dining area</strong>. Or choose to make the Cottage Duplexes your home away from home for an intimate stay.  

            </p> 
            
        </div>
        <div class="col2 right">
           <!-- <a href="https://gc.synxis.com/rez.aspx?hotel=63406&shell=GCFH&template=GCFH&locale=en-us&rate=bdbr&src=prop"><img src="../img/435x215-Resort-Overview-Special-Bed-and-Breakfast.jpg" alt="Bed and Breakfast Package - Book Now"></a>-->
            <!--<h2>Featured Special</h2>-->
            <!--
            <p>
            <span style="font-size:18px;">Start your day off right with a delicious and energizing breakfast. Our <strong>Bed & Breakfast Package</strong> includes accommodations and daily breakfast at <strong>on-site Split Rock Grille</strong>.
            </p>
            
            <div>
            <p class="pricing">
            <span class="tag"><strong>Rates Start at</strong></span>
            <span class="price"><strong>$134</strong></span>
            <span class="nights">per night&nbsp;</span>
            <a href="https://splitrockresort.reztrip.com/rt/ext/promoRate?property=802&mode=b&pm=true&sr=108799&vr=3" class="bttn empty">Book Now</a> -->

            {% region editable-content-1 %}
            
</p></div> 
</div>
</div>
</div>
</section>

<section>
<div class="text-with-gallery detail">
    <div class="row  detail">
        <div class="hr-content-width"></div>
        <div class="content">
            <h2>A Four-Season Destination</h2>
            <div class="text left">
                <p>
                Famous for its <strong>natural beauty</strong> and <strong>outdoor activities</strong>, the Poconos Mountains is a destination for <strong>adventurers</strong> and <strong>relaxation-seekers</strong> alike. Our resort is not only surrounded by these gorgeous mountains and glistening streams, but it also boasts a location on the pristine 125 acre Lake Harmony, perfect for <strong>fishing, boating, and swimming</strong> or simply taking in the fresh air. </p>
<p>
If you’re into exploring, then you’ll enjoy the area’s excellent nearby <strong>hiking, skiing, and snowboarding</strong>. But you don’t have to leave the resort to have fun. You’ll love all the things to do on-site. Our <strong>indoor/outdoor pool</strong>, sandy beach, <strong>golf course</strong>, massage center, <strong>movie theater</strong>, and bowling alley are just some of the things to do only at Split Rock! Our large <strong>indoor water park, H20ooohh!</strong> is a fun way to spend your days no matter the season! During your stay you’ll also have access to the fitness center, hair salon, and a variety of restaurants. </p>

           
          </div>
            <div class="gallery right">
            <div class="gallerygroup">
                <a href="/img/photo-gallery/SRR-800x600-Lodge-Lake-Harmony.jpg" title="Split Rock Resort Lodge on Lake Harmony"><img src="/img/photo-gallery/SRR-435x275-Lodge-Lake-Harmony.jpg" width="215" height="137" alt="Split Rock Resort Lodge on Lake Harmony"></a>
                <a href="/img/photo-gallery/SRR-800x600-Exterior-Split-Rock.jpg" title="Split Rock"><img src="/img/photo-gallery/SRR-435x275-Exterior-Split-Rock.jpg" width="215" height="137" alt="Split Rock"></a>
                <a href="/img/photo-gallery/SRR-800x600-Willowbrook-Two-Bedroom.jpg" title="Split Rock Resort Willowbrook Two-Bedroom Suite"><img src="/img/photo-gallery/SRR-435x275-Willowbrook-Two-Bedroom.jpg" width="215" height="137" alt="Split Rock Resort Willowbrook Two-Bedroom Suite"></a>
                <a href="/img/photo-gallery/SRR-800x600-Lakeside-Lodge.jpg" title="Split Rock Resort Lakeside Lodge Room"><img src="/img/photo-gallery/SRR-435x275-Lakeside-Lodge.jpg" width="215" height="137" alt="Split Rock Resort Lakeside Lodge Room"></a> 
                </div><div class="clearfix"></div>
                
            </div>
           
        </div>
    </div>
</div>

</section>

<section>
<div class="entry">
    <div class="row ">
        <div class="hr-content-width"></div>
        <div class="intro-text">
            <h2>Get In Vacation Mode</h2>       
                
                <p><strong>Check-in:</strong> 4:00 pm; <strong>Check-out:</strong> 11:00 am</p>
         </div>
     </div>        
</div>
</section>

<section>
    <div class="two-column-text">
        <div class="row ">             
             <div class="col1 left">
                 <h3 style="border: 0px; margin-bottom:10px; padding-bottom: 0;">Family-Friendly Activities</h3>
                <p>
                Split Rock Resort offers legendary activity programs designed especially for resort guests of all ages and interests. Our talented social staff will lead you through the engaging, educational, and "can't miss" activities, updated weekly, ranging from <strong>sporting tournaments</strong>, group games, bingo, happy hours, <strong>karaoke</strong>, <strong>turtle racing</strong> and more! Download this week's <a href="/pdfs/Split-Rock-Resort-Activity-Schedule.pdf" onClick="ga('send', 'event', 'pdflink', 'click', 'Split-Rock-Resort-Activity-Schedule');" target="_blank"><strong>Activity Schedule</strong></a> or pick up a copy in the lobby. 
                </p> 
               
               </div>  
           <div class="col2 right">
                <h3 style="border: 0px; margin-bottom:10px; padding-bottom: 0;">All Hands On Deck</h3>
                <p>
                 Our <strong>beachfront deck</strong> is the perfect place for activities and relaxation. Situated on beautiful Lake Harmony, our lagoon features <strong>volleyball</strong>, a <strong>diving board</strong>, and <strong>sand castle building</strong>. Rent boats and tubes, <strong>paddleboats</strong>, <strong>kayaks</strong>, and <strong>canoes</strong> or, on warms days, you’ll find a game of bingo or Frisbee to join. For the ultimate relaxation, sit back and catch some sun in a beach chair and grab a drink from our <strong>Sand Bar</strong>, Lake Harmony’s only <strong>bar on the beach</strong>!
                 </p> 

            </div>
        </div>
      </div>
 </section>
 
 <section>
    <div class="two-column-text special-offers">
        <div class="row ">             
            
           {% region editable-content-2 %}
                 
         </div>
     </div>
 </section>



               <!-- End of section four -->





    

    {% include sign-up.html %}

    
    <script type="text/javascript" src="../js/modernizr.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui.js"></script>
<script type="text/javascript" src="../js/nav2.js"></script>
<script type="text/javascript" src="../js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="../js/foundation.min.js"></script>
<script type="text/javascript" src="../js/foundation.interchange.js"></script>
<script type="text/javascript" src="../js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="../js/slick.min.js"></script>
<script type="text/javascript" src="../js/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="../js/app.js"></script>







<script>

<!-- Magnific Popup Function -->
$('.gallerygroup').each(function() { // the containers for all your galleries
    $(this).magnificPopup({
        delegate: 'a', // the selector for gallery item
        type: 'image',
        gallery: {
          enabled:true
        }
    });
});

$(document).ready(function() {
    var waypoint = new Waypoint({
      element: document.getElementById('toggleheader'),
      handler: function(direction) {
        $("#header-wrapper").toggleClass("stickynav");
        //alert("i am 20 pixels away");
      },
      offset: 20 
    })
})
</script>
   
    {% include footer.html %}


  </body>

</html>
