<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption left">

                      <h1>{{items.heading}}</h1>

                        <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>



<section>
<div class="featured-item">
  <div class="row">
    <!--<h1>Today's Featured Room</h1>-->
        <a href="https://splitrockresort.reztrip.com/"><img data-interchange="[../../img/1000x388-rooms-and-suites-featured.jpg, (default))], [../../img/1000x388-rooms-and-suites-featured.jpg, (only screen and (max-width: 600px))]" src="../../img/1000x388-rooms-and-suites-featured.jpg" width="1000" height="388" alt="Split Rock Resort"></a>
    </div>
</div>
</section>

<!-- START - Willowbrook One Bedroom Suite Section -->

<section>
<div class="two-column-text rooms-section">
    <div class="row extra-padding">
        <div class="col1 left">
            <a data-group="1" class="book" href="../../img/photo-gallery/SRR-800x600-Willowbrook-One-Bedroom.jpg" title="Split Rock Resort Willowbrook One Bedroom Suite"><img data-interchange="[../../img/photo-gallery/SRR-435x275-Willowbrook-One-Bedroom.jpg, (default)], [../../img/photo-gallery/SRR-435x275-Willowbrook-One-Bedroom.jpg, (only screen and (max-width: 400px))]" alt="Split Rock Resort Willowbrook One Bedroom Suite"></a>
            <!--
            <a data-group="1" href="img/room.jpg" class="book" title="Split Rock Resort"></a>
            <a data-group="1" href="img/room.jpg" class="book" title="Split Rock Resort"></a>
            <a data-group="1" href="img/room.jpg" class="book" title="Split Rock Resort"></a>
            -->
            
            <h2>Willowbrook One Bedroom Suite</h2>
            <p>
            Relax in your elegantly appointed one bedroom suite, adjacent to the golf course. You’ll love your comfy air-jet tub, two color televisions, gas fireplace, and small balcony.  </p>
            
            <p>
            <span style="font-size:20px;"><strong>1 Queen Bed or 1 King Bed &amp; 1 Sofabed</strong></span><br>
            726 square feet / rate is for 2-4 people
          </p>
            
            <p class="pricing">
            <span class="tag"><strong>STARTING FROM</strong></span>
            <span class="price"><strong>$158</strong></span>
            <span class="nights">PER NIGHT</span><br>
            <span class="disclaimer">* Excluding taxes, $3 per person per night Recreation Fee and 19% Service Charge. </span>
            </p>
            
        
            
              <a href="https://splitrockresort.reztrip.com/search?selected_room=WA" class="bttn empty">BOOK NOW</a>
            
            <div class="hr-2"></div>
        </div>
       <div class="col2 right">
            <a data-group="2" title="Split Rock Resort Willowbrook Two Bedroom Suite" href="../../img/photo-gallery/SRR-800x600-Willowbrook-Two-Bedroom.jpg" class="book"><img data-interchange="[../../img/photo-gallery/SRR-435x275-Willowbrook-Two-Bedroom.jpg, (default)], [../../img/photo-gallery/SRR-435x275-Willowbrook-Two-Bedroom.jpg, (only screen and (max-width: 400px))]"  alt="Split Rock Resort Willowbrook Two Bedroom Suite"></a>

            
            <h2>Willowbrook Two Bedroom Suite</h2>
            <p>Our two bedroom suite is perfect for multiple couples, or families who are looking for spectacular in-room amenities! Enjoy a full-size bathroom, kitchenette, and dining area. </p>
            
            
            <p>
            <span style="font-size:20px;"><strong>2 Queen Beds or 2 King Beds &amp; 2 Sofabeds</strong></span><br>
            1455 square feet / rate is for 2-4 people
            </p>
            
            <p class="pricing">
            <span class="tag"><strong>STARTING FROM</strong></span>
            <span class="price"><strong>$258</strong></span>
            <span class="nights">PER NIGHT</span><br>
            <span class="disclaimer">* Excluding taxes, $3 per person per night Recreation Fee and 19% Service Charge. </span>
            </p>
            
          
            
                <a href="https://splitrockresort.reztrip.com/search?selected_room=WF" class="bttn empty">BOOK NOW</a>
            
            <div class="hr-2"></div>

        </div>
 
    </div>

</div>

</section>


<!-- End - Willowbrook One Bedroom Suite Section -->


<!-- START - Galleria VIP Suite -->

<section>
<div class="text-with-gallery rooms">
    <div class="row">
        <div class="hr-content-width"></div>
        <div class="content">
          <h1 class="text-normal">Galleria VIP Suite</h1>
            <div class="text left">
              <p>Sprawl out in this roomy suite, featuring a bedroom with a king bed and sunken jacuzzi tub, living room, dining area, fully equipped kitchen, and one and a half baths.</p>
<p>
            <span style="font-size:20px;"><strong>1 King Bed &amp; 1 Sofabed</strong></span><br>
             784 square feet / rate is for 2-4 people
              </p>
              
                <p class="pricing">
                <span class="tag"><strong>STARTING FROM</strong></span>
                <span class="price"><strong>$198</strong></span>
                <span class="nights">PER NIGHT</span><br>
                <span class="disclaimer">* Excluding taxes, $3 per person per night Recreation Fee and 19% Service Charge. </span>
                </p>
                
              
                
            </div>
            <div class="gallery right">
            <div class="gallerygroup">
                <a href="../../img/photo-gallery/SRR-800x600-Galleria-VIP-Suite.jpg" title="Split Rock Resort Galleria VIP Suite"><img src="../../img/photo-gallery/SRR-435x275-Galleria-VIP-Suite.jpg" width="215" height="137" alt="Split Rock Resort Galleria VIP Suite"></a>
                <a href="../../img/photo-gallery/SRR-800x600-Galleria-VIP-Suite2.jpg" title="Split Rock Resort Galleria VIP Suite"><img src="../../img/photo-gallery/SRR-435x275-Galleria-VIP-Suite2.jpg" width="215" height="137" alt="Split Rock Galleria VIP Suite"></a>             
              <a href="../../img/photo-gallery/SRR-800x600-Galleria-VIP-Suite3.jpg" title="Split Rock Resort Galleria VIP Suite"><img src="../../img/photo-gallery/SRR-435x275-Galleria-VIP-Suite3.jpg" width="215" height="137" alt="Split Rock Resort Galleria VIP Suite"></a>
                <a href="../../img/photo-gallery/SRR-800x600-Galleria-VIP-Suite4.jpg" title="Split Rock Resort Galleria VIP Suite"><img src="../../img/photo-gallery/SRR-435x275-Galleria-VIP-Suite4.jpg" width="215" height="137" alt="Split Rock Resort Galleria VIP Suite"></a>

                </div><div class="clearfix"></div>
              <a href="https://splitrockresort.reztrip.com/search?selected_room=GV" class="bttn empty" style="margin-left: 11px;">BOOK NOW</a>
            </div>
        </div>
    </div>
</div>
</section>

<!-- End - Galleria VIP Suite -->









<section>
<div class="two-column-text rooms-section">
  <div class="row">
      <div class="col1 left">
          <a data-group="3" title="Split Rock Resort Galleria Two Bedroom Suite" href="../../img/photo-gallery/SRR-800x600-Galleria-Two-Bedroom.jpg" class="book"><img data-interchange="[../../img/photo-gallery/SRR-435x275-Galleria-Two-Bedroom.jpg, (default)], [../../img/photo-gallery/SRR-435x275-Galleria-Two-Bedroom.jpg, (only screen and (max-width: 400px))]"  alt="Split Rock Resort Galleria Two Bedroom Suite"></a>

           
            <h2>Galleria Two Bedroom Suite</h2>
            <p>
            This two bedroom unit with two bedding options is perfect for a family vacation! The suite has a living room, fully equipped kitchen, and three TV's. </p>
            
            <p>
            <span style="font-size:20px;"><strong>2 Queen Beds &amp; 1 Sofabed OR 1 Queen Bed, 2 Twin Beds &amp; 1 Sofabed OR 1 King Bed &amp; 1 Queen Bed</strong></span><br>
            784 square feet / rate is for 4-6 people, maximum 6
            </p>
            
            <p class="pricing">
            <span class="tag"><strong>STARTING FROM</strong></span>
            <span class="price"><strong>$198</strong></span>
            <span class="nights">PER NIGHT</span><br>
            <span class="disclaimer">* Excluding taxes, $3 per person per night Recreation Fee and 19% Service Charge. </span>
            </p>
            
        
            
                <a href="https://splitrockresort.reztrip.com/search?selected_room=GS" class="bttn empty">BOOK NOW</a>
            
            <div class="hr-2"></div>
        </div>

        <div class="col1 right">
            <a data-group="5" title="Split Rock Resort Galleria Mini Deluxe" href="../../img/photo-gallery/SRR-800x600-Galleria-Mini-Deluxe.jpg" class="book"><img data-interchange="[../../img/photo-gallery/SRR-435x275-Galleria-Mini-Deluxe.jpg, (default)], [../../img/photo-gallery/SRR-435x275-Galleria-Mini-Deluxe.jpg, (only screen and (max-width: 400px))]"  alt="Split Rock Resort Galleria Mini Deluxe"></a>

           
            <h2>Galleria Mini Deluxe</h2>
            <p>
            This oversized room is great for business retreats or family getaways. Your room will have a color TV, air conditioning, wet bar, wingback chair with ottoman, and a guest table/desk armoire.</p>
            
            <p>
            <span style="font-size:20px;"><strong>2 Queen Beds</strong></span><br>
            435 square feet / rate is for 2-4 people 
            </p>
            
            <p class="pricing">
            <span class="tag"><strong>STARTING FROM</strong></span>
            <span class="price"><strong>$127</strong></span>
            <span class="nights">PER NIGHT</span><br>
            <span class="disclaimer">* Excluding taxes, $3 per person per night Recreation Fee and 19% Service Charge. </span>
            </p>
            
        
            
                <a href="https://splitrockresort.reztrip.com/search?selected_room=MD" class="bttn empty">BOOK NOW</a>
            
            <div class="hr-2"></div>
        </div>
        
    </div>
</div>
</section>

<div class="text-with-gallery detail">
    <div class="row  detail">
    <div class="hr-content-width"></div>
    </div>
</div>


<section>
<div class="two-column-text rooms-section">
  <div class="row extra-padding">
        <div class="col2 left">
            
            <a data-group="4" title="Split Rock Resort Galleria Slope Side Suite" href="../../img/photo-gallery/SRR-800x600-Galleria-Slope-Side-Suite.jpg" 
             class="book"><img alt="Split Rock Resort Galleria Slope Side Suite" data-interchange="[../../img/photo-gallery/SRR-435x275-Galleria-Slope-Side-Suite.jpg, (default)], [../../img/photo-gallery/SRR-435x275-Galleria-Slope-Side-Suite.jpg, (only screen and (max-width: 400px))]" ></a>
            
            <h2>Galleria Slope Side <br>
            Suite</h2>
            <p>
            Get comfy in this one bedroom suite, offering a queen bed, queen sofa pull out, fully equipped kitchenette, two televisions, and a full bath.</p>
            
            <p>
            <span style="font-size:20px;"><strong>1 Queen Bed &amp; 1 Sofa Bed<strong></strong></strong></span><br>
            515 square feet / 47.8 square meters. Rate is for 1-4 people, maximum 6
            <br>
            <br>
            <br>
            </p>
            
            <p class="pricing">
            <span class="tag"><strong>STARTING FROM</strong></span>
            <span class="price"><strong>$127</strong></span>
            <span class="nights">PER NIGHT</span><br>
            <span class="disclaimer">* Excluding taxes, $3 per person per night Recreation Fee and 19% Service Charge. </span>
            </p>
            
          
            
            <a href="https://splitrockresort.reztrip.com/search?selected_room=MS" class="bttn empty">BOOK NOW</a>
            <div class="hr-2"></div>
        </div>
      
        <div class="col2 right">
          
            <a data-group="6" title="Split Rock Resort Lakeside Lodge" href="../../img/photo-gallery/SRR-800x600-Lakeside-Lodge.jpg" 
             class="book"><img alt="Split Rock Resort Lakeside Lodge" data-interchange="[../../img/photo-gallery/SRR-435x275-Lakeside-Lodge.jpg, (default)], [../../img/photo-gallery/SRR-435x275-Lakeside-Lodge.jpg, (only screen and (max-width: 400px))]" ></a>

            
            <h2>Lakeside Lodge</h2>
            <p>
            For a serene retreat, you’ll love our lodge rooms overlooking the beautiful sandy beach, lagoon, and expansive Lake Harmony. </p>
            
            <p>
            <span style="font-size:20px;"><strong>1 King or 2 Queen Beds</strong></span><br>
            346 square feet / rate is for 2-4 people
            </p>
            
            <p class="pricing">
            <span class="tag"><strong>STARTING FROM</strong></span>
            <span class="price"><strong>$99</strong></span>
            <span class="nights">PER NIGHT</span><br>
            <span class="disclaimer">* Excluding taxes, $3 per person per night Recreation Fee and 19% Service Charge. </span>
            </p>
            
        
            
            <a href="https://splitrockresort.reztrip.com/search?selected_room=LSK" class="bttn empty">BOOK NOW</a>
            <div class="hr-2"></div>
        </div>
    </div>
</div>
</section>


<div class="text-with-gallery detail">
    <div class="row  detail">
    <div class="hr-content-width"></div>
    </div>
</div>

<section>
<div class="two-column-text rooms-section">
  <div class="row extra-padding">
      <div class="col1 left">
          <a data-group="7" title="Split Rock Resort Garden Side Lodge" href="../../img/photo-gallery/SRR-800x600-Garden-Side-Lodge.jpg" class="book"><img data-interchange="[../../img/photo-gallery/SRR-435x275-Garden-Side-Lodge.jpg, (default)], [../../img/photo-gallery/SRR-435x275-Garden-Side-Lodge.jpg, (only screen and (max-width: 400px))]"  alt="Split Rock Resort Garden Side Lodge"></a>

           
            <h2>Garden Side Lodge</h2>
            <p>
            These country style hotel rooms are in the original Split Rock Lodge and overlook Lake Harmony. Each room features cable television and air conditioning. </p>
            
            <p>
            <span style="font-size:20px;"><strong>2 Queen Beds or 1 King Bed</strong></span><br>
            346 square feet / rate is for 2-4 people 
            </p>
            
            <p class="pricing">
            <span class="tag"><strong>STARTING FROM</strong></span>
            <span class="price"><strong>$99</strong></span>
            <span class="nights">PER NIGHT</span><br>
            <span class="disclaimer">* Excluding taxes, $3 per person per night Recreation Fee and 19% Service Charge. </span>
            </p>
            
        
            
                <a href="https://splitrockresort.reztrip.com/search?selected_room=GQQ" class="bttn empty">BOOK NOW</a>
            
            <div class="hr-2"></div>
        </div>
        <div class="col2 right">
            
            <a data-group="10" title="Split Rock Resort Cottage Duplex" href="../../img/photo-gallery/SRR-800x600-Cottage-Duplex.jpg" 
             class="book"><img alt="Split Rock Resort Cottage Duplex" data-interchange="[../../img/photo-gallery/SRR-435x275-Cottage-Duplex.jpg, (default)], [../../img/photo-gallery/SRR-435x275-Cottage-Duplex.jpg, (only screen and (max-width: 400px))]" ></a>

            
            <h2>Cottage Duplex</h2>
            <p>
            Your private cottage awaits! Tastefully decorated, the living room/bedroom combination features an intimate Duraflame log burning fireplace and cozy queen bed.</p>
            
            <p>
            <span style="font-size:20px;"><strong>1 Queen Bed </strong></span><br>
            375 square feet / rate is for 2 people
            </p>
            
            <p class="pricing">
            <span class="tag"><strong>STARTING FROM</strong></span>
            <span class="price"><strong>$100</strong></span>
            <span class="nights">PER NIGHT</span><br>
            <span class="disclaimer">* Excluding taxes, $3 per person per night Recreation Fee and 19% Service Charge. </span>
            </p>
        
            <a href="https://splitrockresort.reztrip.com/search?selected_room=CD" class="bttn empty">BOOK NOW</a>
            <div class="hr-2"></div>
        </div>
    </div>
</div>
</section>


<div class="text-with-gallery detail">
    <div class="row  detail">
    <div class="hr-content-width"></div>
    </div>
</div>

<section>
<div class="two-column-text rooms-section">
  <div class="row extra-padding">

        <div class="col2 left">
            
            
            <a data-group="8" title="Split Rock Resort Interior Two Bedroom Suite" href="../../img/photo-gallery/SRR-800x600-Interior-Two-Bedroom-Suite.jpg" 
             class="book"><img alt="Split Rock Resort Interior Two Bedroom Suite" data-interchange="[../../img/photo-gallery/SRR-435x275-Interior-Two-Bedroom-Suite.jpg, (default)], [../../img/photo-gallery/SRR-435x275-Interior-Two-Bedroom-Suite.jpg, (only screen and (max-width: 400px))]" ></a>

            
            <h2>Interior Two Bedroom Suite</h2>
            <p>
            Our two bedroom unit has a lot to offer. With a queen bed, two twins, two baths, a pull out sofa in the living room, fully equipped kitchen, and three bathrooms, you’ll feel right at home. These units have a skylight in the living room, and no windows.</p>
            
            <p>
            <span style="font-size:20px;"><strong>1 Queen Bed &amp; 2 Twins</strong></span><br>
            784 square feet / rate is for 2-4 people
            </p>
            
            <p class="pricing">
            <span class="tag"><strong>STARTING FROM</strong></span>
            <span class="price"><strong>$178</strong></span>
            <span class="nights">PER NIGHT</span><br>
            <span class="disclaimer">* Excluding taxes, $3 per person per night Recreation Fee and 19% Service Charge. </span>
            </p>
            
      
            
            <a href="https://splitrockresort.reztrip.com/search?selected_room=IS2" class="bttn empty">BOOK NOW</a>
            <div class="hr-2"></div>
        </div>

        
      <div class="col1 right">
          <a data-group="9" title="Split Rock Resort Villas at Westwood" href="../../img/photo-gallery/SRR-800x600-Villas-at-Westwood.jpg" class="book"><img data-interchange="[../../img/photo-gallery/SRR-435x275-Villas-at-Westwood.jpg, (default)], [../../img/photo-gallery/SRR-435x275-Villas-at-Westwood.jpg, (only screen and (max-width: 400px))]"  alt="Split Rock Resort Villas at Westwood"></a>

           
            <h2>Villas at Westwood</h2>
            <p>
            Revel in this rustic, but modern villa boasting a gas fireplace, living room with comfortable seating, two bedrooms air conditioning, two color televisions, two bathrooms, sauna and jacuzzi-style tub. </p>
            
            <p>
            <span style="font-size:20px;"><strong>2 Queen Beds </strong></span><br>
            1100 square feet / rate is for 2-4 people 
            </p>
            
            <p class="pricing">
            <span class="tag"><strong>STARTING FROM</strong></span>
            <span class="price"><strong>$219</strong></span>
            <span class="nights">PER NIGHT</span><br>
            <span class="disclaimer">* Excluding taxes, $3 per person per night Recreation Fee and 19% Service Charge. Two-night minimum stay required in the villas. </span>
            </p>
            
           <!-- <p>
            <span style="font-size:20px;"><strong>Standard Amenities</strong></span>
            </p>
            
            <ul>
                <li>Mini-fridge, microwave, and coffee maker</li>
                <li>Coffee packets replenished daily</li>
                <li>WiFi</li>
                <li>Daily local newspaper</li>
                <li>In-room safe</li>
            </ul>-->
            
                <a href="https://splitrockresort.reztrip.com/search?selected_room=VS" class="bttn empty">BOOK NOW</a>
            
            <div class="hr-2"></div>
        </div>
        
    </div>
</div>
</section>




  {% include sign-up.html %}

    
{% include script-all-pages.html %}
   
    {% include footer.html %}



</body>
</html>