<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}
<section>
    <div id="hero-section" class="page full"> 
      <!--<div class="single-image-hero">
        <img data-interchange="[/img/heros/650x600-Special-Offers.jpg, (small)],[/img/heros/1500x600-Special-Offers.jpg, (medium)], [/img/heros/2000x600-Special-Offers.jpg, (xlarge)]" src="/img/heros/1500x600-Special-Offers.jpg" alt="Stay at Split Rock and Save">
    </div>--> 
    </div>
  </section>
<div id="toggleheader"></div>

<section>
<div class="text-with-gallery detail">
    <div class="row  detail">
        <div class="content">
            <h3>Thank you for contacting us.</h3>
            <!--<h4>Pick from any of our 58 Golf Courses</h4>-->
            <div class="text left">
                <br>
                <p>We will be in touch shortly.</p>
                

                
                
            </div>
            
    </div>
</div>
</section>
<section>
<div class="text-with-gallery detail">
    <div class="row  extra-padding">
        <div class="content">
          <h2>Love In The Poconos</h2>
            <!--<h4>Pick from any of our 58 Golf Courses</h4>-->
            <div class="text left">
              <p>Do you dream of a  picturesque mountain backdrop for your wedding day? There is no setting more  romantic than the <strong>Poconos Mountains</strong> and Lake Harmony at Split Rock Resort. With the help of  <strong>our wedding professionals</strong> and specialists, all your wedding dreams will come  true. From wedding planning to day-of coordination, we&rsquo;ll assist you with all  the details to make your special event tailored to you.</p>
                <p>Split Rock Resort  offers beautiful <strong>wedding rehearsal, ceremony, reception, and cocktail hour</strong> options that will have you and your guests swooning. We look forward to accommodating  your wishes, whether you prefer an elegant indoor service or <strong>breathtaking  outdoor ceremony</strong>, intimate gathering or large celebration. We&rsquo;ll design your  customized menu, wedding cake, and help you choose décor. </p>
                

                
                
            </div>
            <div class="gallery right">
            <div class="gallerygroup">
                    <a href="../../img/800x600-Weddings-Newlyweds-Walking-Fall.jpg" title="A newlywed couple strolling in the forest"><img src="../../img/415x260-Weddings-Newlyweds-Walking-Fall.jpg" width="215" height="137" alt="A newlywed couple strolling in the forest"></a>
                <a href="../../img/800x600-Weddings-Newlyweds-Walking.jpg" title="A newlywed couple strolling in the forest"><img src="../../img/415x260-Weddings-Newlyweds-Walking.jpg" width="215" height="137" alt="A newlywed couple strolling in the forest"></a>
                <a href="../../img/800x600-Wedding-Party.jpg" title="Bridesmaids and Groomsmen"><img src="../../img/415x260-Wedding-Party.jpg" width="215" height="137" alt="Bridesmaids and Groomsmen"></a>
                <a href="../../img/800x600-Weddings-Arch.jpg" title="Wedding Arch on Harmony Lake"><img src="../../img/415x260-Weddings-Arch.jpg" width="215" height="137" alt="Wedding Arch on Harmony Lake"></a>
              </div>
      
        </div>
                <div class="clearfix"></div>
                <!--<a href="#" class="action-link">Book Now</a>-->
            </div>
        </div>
    </div>
</div>
</section>




<section>
<div class="text-with-gallery special-offers">
    <div class="row  detail">
    <div class="hr-content-width" style="margin: 0 20px 25px 20px;"></div>
        <div class="content">

             <h2>Wedding Packages, Especially For You</h2> 
                
             <p>Our comprehensive wedding packages, which feature a range of food, beverage and wedding enhancement options for your reception, can be one way to simplify your planning process. We offer everything from plated evening meals to <strong>buffet options</strong>, as well as lunch and brunch packages to specialty cocktail receptions. Our packages provide you with a professional wedding specialist, Maître D’, a four hour bar or upgraded open bar, wedding reception décor, <strong>champagne</strong> or sparkling cider toast for you and your guests, and much more!</p>

<p>We’re also happy to offer exclusive perks like <strong>complimentary parking</strong>, complimentary accommodations for the bridal couple on the evening of their reception, <strong>complimentary breakfast</strong> for the newlyweds on the morning following your wedding, and <strong>special room rates</strong> for your guests.</p><p>

<p><a href="../pdfs/wedding-menus.pdf" target="_blank">Click here to see our menu options.</a></p>

For more information or additional Questions, please email us or call <a href="tel: 1-888-802-2348 ">1-(888) 802-2348.</a> Extension: 855</p>

                


        </div>
    </div>
</div>
</section>





{% include sign-up.html %}

    
{% include script-all-pages.html %}
   
    {% include footer.html %}



</body>
</html>

