<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}
<section>
    <div id="hero-section" class="page full"> 

    </div>
  </section>
<div id="toggleheader"></div>

<section>
<div class="text-with-gallery detail">
    <div class="row  detail">
        <div class="content">
            <h3>Thank you for contacting us.</h3>
            <!--<h4>Pick from any of our 58 Golf Courses</h4>-->
            <div class="text left">
                <br>
                <p>We will be in touch shortly.</p>
                

                
                
            </div>
            
    </div>
</div>
</section>
<div id="toggleheader"></div>
<section>
<div class="text-with-gallery detail">
    <div class="row  detail">
        <div class="content">
        	<h2>Come One, Come All!</h2>
            <p>We invite you to plan your <strong>reunions, group vacations, family getaways, corporate retreats</strong>, and other large functions at Split Rock Resort! Our full-service resort hosts a ton of on-site amenities, meeting spaces, and a variety of accommodations that make meeting up in the beautiful Poconos easy and fun. Whether you’re organizing a <strong>Boy or Girls Scouts Troop</strong> or a <strong>large family reunion</strong>, our knowledgeable staff will help you plan a memorable experience that will be a hit with your friends, family, or colleagues.</p>
            
            
          <h3>It’s a Family Affair!</h3>
          
          <p>Let us do the cooking and cleaning while you and your family enjoy a relaxing vacation! Our staff understands the level of detail that can go into planning a reunion. Finding time to coordinate everything while you are working can be difficult, so give us a call and we'll do the rest!</p>
          
          <p>Split Rock <strong>Family Reunion Packages</strong> are available for both midweek and weekends. We can customize the perfect package for you with items like:</p>

           <ul>
             <li>Deluxe  Overnight Accommodations</li>
             <li>Breakfast  Served Daily</li>
             <li>Dinner  Served Daily</li>
             <li>Dinner  choice of Private Banquet or Beach BBQ</li>
             <li>Official  Reunion T-Shirt</li>
             <li>Portrait  Remembrance Photo</li>
             <li>Daily  Activity &amp; Recreation Program</li>
             <li>Split  Rock Kids Camp</li>
             <li>Complimentary  Recreation Passes</li>
             <li>Custom  Cake for Family Dinner Night</li>
             <li>Complimentary  Hospitality Room</li>
             <li>Complimentary  Welcome Reception (alcohol not included)</li>
           </ul>

<p>Call (888) 802-2348 and ask to speak with our sales department for more information.</p><br>
<p>*Add ons available upon request for an additional cost.</p>




    <div class="hr-content-width" style="margin: 0 0 25px 0;"></div>

          <h3>Poconos Retreats</h3>

           <p>With Lake Harmony at your doorstep and the <strong>Poconos Mountains</strong> in the background, Split Rock Resort is the perfect place for you to customize your next group retreat. Our location, extensive amenities, and affordable cost allow the flexibility to meet your group's needs. We offer a variety of retreat packages to suit every gathering and age group. </p>
           
          <p>Split Rock Group Retreat Packages are available for both midweek and weekends and are customizable to include:</p>
           
           <ul>
             <li>Multiple  Days of Overnight Accommodations</li>
             <li>Breakfast,  Lunch &amp; Dinner Options</li>
             <li>Workshops,  Teambuilding &amp; Outdoor Activities</li>
             <li>Passes  to H2Oooohh! Indoor Water park</li>
             <li>Group  Meeting Spaces</li>
             <li>Banquets  and Receptions</li>
           </ul>
           
           <p>Call (888) 802-2348 and ask to speak with our sales department for more information.</p>
           
           

    <div class="hr-content-width" style="margin: 0 0 25px 0;"></div>

          <h3>Motor Coach</h3>

           <p>Split Rock is a motor coach friendly destination and we welcome you to make the trip to stay with us in beautiful Lake Harmony, PA! We strive to give all motor coach groups the most memorable and exciting experience possible, whether you come on a day trip or for a whole weekend.</p>
           
          <p>Split Rock offers motor coach packages that include:</p>
           
           <ul>
             <li>Complimentary  Bus Parking</li>
             <li>Overnight  Accommodations</li>
             <li>Welcome  Reception</li>
             <li>Breakfast,  Lunch &amp; Dinner Options</li>
             <li>Daily  Activity &amp; Recreation Program</li>
             <li>Passes  to H2Oooohh! Indoor Water park</li>
             <li>And  More!</li>
             <li>Senior  Day Trips</li>
           </ul>
           
           <p>View our <a href="/pdfs/Split_Rock_Bus_Tours_Info_and_Schedule_2015.pdf" target="_blank">2015 Bus Tour Info and Entertainment Schedule</a> (PDF) or <a href="/pdfs/2016-Senior-Day-Trips-Brochure.pdf" target="_blank">2016 Bus Tour Info and Entertainment Schedule</a> (PDF) for more information or call Rick Toma, Group Sales Manager at (800)&nbsp;255-7625&nbsp;ext&nbsp;874.</p>
        
            </div>
        </div>
    </div>
</div>
</section>





{% include sign-up.html %}

    

   
    {% include footer.html %}

    {% include script-all-pages.html %}



</body>
</html>

