
<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}
    <section>
<div id="hero-section" class="page full">
    <div class="caption-wrapper">
        <div class="caption right">
            <h1>Water Park</h1>
            <h4>Indoor fun for everyone</h4>
        </div>
    </div>
    <div class="single-image-hero">
        {% region banner %}
    </div>
</div>
</section>
<div id="toggleheader"></div>

                <!-- section 1 START-->


               <section>
<div class="two-column-text rooms-section">
    <div class="row extra-padding">
        <div class="content ">
            <h1 class="text-normal">Make a Splash at H2Oooohh!</h1>
            <div class="col1 left" style="padding-bottom:0;">

            {% region editable-content-1 %}

<p>   <a class="bttn empty" target="_blank" 
         href="https://tix.extremetix.com/Online/?siteID=2552">BUY TICKETS</a></p>

            </div>
            <div class="col2 right">

        <br>             
     
         {% region editable-content-2 %}

         <p class="pricing"> <span class="tag"><strong>Want the park all to yourself?</strong></span><br><a href="inquiry/index.html" class="bttn empty">CLICK HERE</a><br>
          </p>
            </div>
        </div>
    </div>
</div>
</section>

<section>
<div class="text-with-gallery special-offers">
    <div class="row  detail">
        <div class="content">
        
        <h2 class="explore-category" style="margin-top: 0;">Open Hours &amp; Rates</h2>

<h3>2015 Waterpark Rates</h3>       


            <p>Rates vary during season and for Hotel Guests, the General Public, and Timeshare Exchange Guests &amp; Owners. Please check the correct chart below for the corresponding ticket rate. Groups of 25+ will receive the same rates as Timeshare Exchange Guests &amp; Owners. </p>
            
            
            <p>Ages 2 and under are free. Lockers are available for all-day rental at $6. Day passes may be limited when Split Rock Resort is at capacity. Rates are subject to change without notice. </p>


                    <style type="text/css">#tables_area table {background:#EDEAE6; border:2px solid #000000; color:#ffffff; width:100%; margin: 0 auto; }
                    #tables_area table.noBorder { border-top:none; }
                    /*#tables_area table tr td {background:#EDEAE6; padding-left:5px; padding-bottom:5px;}*/
                    #tables_area table tr td.center { text-align:center;}

                    #tables_area .blue_table table {background:#C7CAD3; color:#ffffff;}
                    /*#tables_area .blue_table table tr td {background:#C7CAD3; padding-left:5px; padding-bottom:5px;}*/

                    #tables_area .pink_table table { background:#F5F4E9; color:#ffffff;}
                    /*#tables_area .pink_table table tr td {background:#F5F4E9; padding-left:5px; padding-bottom:5px;}*/

                    #tables_area { max-width: 660px; margin: 0 auto 30px auto; }
                    #tables_area th { background-color:#5C6D7C; color: #fff; text-transform:uppercase; font-size:16px; padding-top:5px; }


                    </style>

                    
                <div id="tables_area"><!-- Begin Tables Area -->
                    
                    
                    
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <th colspan="3">Day Guest - Low Season</th>
                            </tr>
                            <tr>
                                    <td>&nbsp;</td>
                                    <td class="center">Over 42" Tall</td>
                                    <td class="center">Under 42" Tall</td>
                                </tr>
                                <tr class="border">
                                    <td colspan="3"><strong>Full Admission</strong></td>
                                </tr>
                                <tr class="black">
                                    <td>Day Pass</td>
                                    <td class="center">* $36</td>
                                    <td class="center">* $31</td>
                                </tr>
                                <tr class="black">
                                    <td>Twilight Pass</td>
                                    <td class="center">* $23</td>
                                    <td class="center">* $18</td>                           
                                </tr>
                                <tr>
                                    <td colspan="3"><strong>Discount Admission</strong></td>
                                </tr>
                                <tr class="black">
                                    <td>3 Day Pass</td>
                                    <td class="center">* $73</td>
                                    <td class="center">* $62</td>                           
                                </tr>
                                <tr class="black">
                                    <td>2 Day Pass</td>
                                    <td class="center">* $52</td>
                                    <td class="center">* $41</td>                           
                                </tr>
                                <tr class="black">
                                    <td>Day Observer</td>
                                    <td class="center">* $16</td>
                                    <td class="center">-</td>                           
                                </tr>
                                <tr class="black">
                                    <td>Twilight Observer</td>
                                    <td class="center">* $10</td>
                                    <td class="center">-</td>                           
                                </tr>
                                <tr class="black">
                                    <td>Senior Pass</td>
                                    <td class="center">* $16</td>
                                    <td class="center">-</td>                           
                                </tr>
                                <tr class="black">
                                    <td>Senior Twilight Observer</td>
                                    <td class="center">* $10</td>
                                    <td class="center">-</td>                           
                                </tr>
                            </table>
                    
                    
                            <span class="disclaimer" >* Taxes not included.<br>* Children 12 and under are not taxed on any of the Waterpark costs.</span><p></p><br>
                    
                
                    
                    <div class="pink_table">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th colspan="2">Discounts</th>
                        </tr>
                        <tr class="black">
                            <td>Timeshare Discount</td>
                            <td class="center">15%</td>
                        </tr>

                        <tr class="black">
                            <td>Hotel Guest Discount</td>
                            <td class="center">10%</td>
                        </tr>
                    </table>
                    </div>
                    
                    
            </div>

<h3>2015 Calendar</h3>

            
            <p>The waterpark is open to the general public and overnight accommodations are not required to purchase day pass tickets. We ask that you bring your own towels, as we do not supply them. Towels and other sundries can be purchased in the Gift Shop located in the Galleria, which is connected to H20ooohh! Indoor Waterpark.</p>


        <p align="center"><a href="../pdfs/2015WP-hours.pdf" target="_blank"><img src="../img/2015WP-hours.jpg" alt="Hours of Operation in 2015"></a></p>

        

        <p>Click here to download a PDF version of our <a href="../pdfs/2015WP-hours.pdf" target="_blank">2015 
         hours of operation</a>. For more information or additional Questions, please email us or 
         call (570) 722-9111.</p>

         <h3>2016 Calendar</h3>

            
            


        <p align="center"><a href="../pdfs/2016WP-hours.pdf" target="_blank">{% region editable-content-3 %}</a></p>

        <p><i><strong>Hours and open dates are subject to change.</strong></i></p>

        <p>Click here to download a PDF version of our <a href="../pdfs/2016WP-hours.pdf" target="_blank">2016 
         hours of operation</a>. For more information or additional Questions, please email us or 
         call (570) 722-9111.</p>
        

        </div>
    </div>
</div>
</section>

        
    {% include sign-up.html %}
    {% include script-all-pages.html %}
   
    {% include footer.html %}


  </body>

</html>
