
<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>

    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption right">

                      <h1>{{items.heading}}</h1>

                        <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>

                <!-- section 1 START-->


               <section>
<div class="text-with-gallery detail">
    <div class="row  detail">
        <div class="content">
           {% region wedding_first %}
            <div class="gallery right">
            <div class="gallerygroup">
                    <a href="/img/800x600-Weddings-Newlyweds-Walking-Fall.jpg" title="A newlywed couple strolling in the forest"><img src="/img/415x260-Weddings-Newlyweds-Walking-Fall.jpg" width="215" height="137" alt="A newlywed couple strolling in the forest"></a>
                <a href="/img/800x600-Weddings-Newlyweds-Walking.jpg" title="A newlywed couple strolling in the forest"><img src="/img/415x260-Weddings-Newlyweds-Walking.jpg" width="215" height="137" alt="A newlywed couple strolling in the forest"></a>
                <a href="/img/800x600-Wedding-Party.jpg" title="Bridesmaids and Groomsmen"><img src="/img/415x260-Wedding-Party.jpg" width="215" height="137" alt="Bridesmaids and Groomsmen"></a>
                <a href="/img/800x600-Weddings-Arch.jpg" title="Wedding Arch on Harmony Lake"><img src="/img/415x260-Weddings-Arch.jpg" width="215" height="137" alt="Wedding Arch on Harmony Lake"></a>
              </div>
      
        </div>
                <div class="clearfix"></div>
                <!--<a href="#" class="action-link">Book Now</a>-->
            </div>
        </div>
    </div>
</div>
</section>

<section>
<div class="text-with-gallery special-offers">
    <div class="row  detail">
    <div class="hr-content-width" style="margin: 0 20px 25px 20px;"></div>
        <div class="content">

             {% region wedding_second %}

        </div>
    </div>
</div>
</section>


<section>
    <div class="text-with-gallery special-offers">
      <div class="row  detail">
      <div class="hr-content-width" style="margin: 0 20px 25px 20px;"></div>
          <div class="content">
            <h2 class="heading">Bridal Reviews</h2>
              <div id="wedding-carousel" class="owl-carousel owl-theme">
                {% for review in site.data._models.bridal_review %}
                  <div class="item">
                    {{ review.text }}
                  </div>
                {% endfor %}            
              </div>
          </div>
      </div>
    </div>
</section>


<section>
<div class="text-with-gallery special-offers">
    <div class="row  detail">
    <div class="hr-content-width" style="margin: 0 20px 25px 20px;"></div>
        <div class="content">
            {% region wedding_third %}
             
             <script type="text/javascript" src="https://form.jotform.me/jsform/53061766545459"></script>  


        </div>
    </div>
</div>
</section>





               <!-- End of section four -->





    

    {% include sign-up.html %}

    
    
   
    {% include footer.html %}
    {% include script-all-pages.html %}


  </body>

</html>
