<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption left">

                      <h1>{{items.heading}}</h1>

                        <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>

<section>
<div class="text-with-gallery">
  <div class="row">
    <div class="content">
        <!--<h2>Explore Poconos</h2>-->
      </div>
    </div>
</div>
</section>

{% for ra in site.data._models.resort_activity %}
  <section>
  <div class="two-column-text special-offers">
        {% if ra.name == "H2Oooohh! Indoor Water Park" %}
          <div class="row">
          <h2 class="explore-category">Things to Do at Split Rock Resort</h2>
        {% else %}
        <div class="row extra-padding">
        {% endif  %}
          
          <h3> {{ra.name}} </h3> 
          <div class="col1 left">
              <img src = {{ra.image.url}} >

          </div>
          <div class="col2 right">
              {{ra.text}}
          </div>
          <div class="hr-2" ></div>
          </div>
  </div>
  </section>

{% endfor %}
    
{% include script-all-pages.html %}
   
    {% include footer.html %}



</body>
</html>