<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption left">

                      <h1>{{items.heading}}</h1>

                        <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>

<section>
<div class="text-with-gallery">
  <div class="row">
    <div class="content">
        <!--<h2>Explore Poconos</h2>-->
      </div>
    </div>
</div>
</section>

<section>
<div class="two-column-text special-offers">
        <div class="row">
           <h2 class="explore-category">Things to Do at Split Rock Resort</h2>
        <h3>H2Oooohh! Indoor Water Park</h3>
        <div class="col1 left">
            <img src="/img/435x275-SRR-Amenities-Water-Park.jpg"  alt="H2Oooohh! Indoor Waterpark">
        </div>
        <div class="col2 right">
            <p>
            Our famed indoor water park features attractions for all ages, like the <strong>Komodo Dragon 
            Flow Rider </strong>and the Viper, Piranha &amp; Amazon Blast Slides. Relax in the <strong>Lava Springs 
            hot tubs</strong> or watch your little ones have a great time at the <strong>Jungle Falls &amp; 
            Leapin’ Lizards play areas</strong>.</p>
            <div class="explore-info-icons" id="icons-col1" style="width: 100%;">
                <ul class="icons-ul">
                    <li>
                        <i class="icon-li fa  fa-info"> </i> <a href="/waterpark/">More information</a>
                    </li>
                     <li>
                        <i class="icon-li fa  fa-info"> </i> <a href="/specials/teen-night/">Click here for Teen night details – every Friday!</a>
                    </li>
                </ul>
          </div>

        </div>
        <div class="hr-2" ></div>
    </div>
</div>
</section>



<section>
<div class="two-column-text special-offers">
    <div class="row extra-padding">
    <h3>First Run Movie Theater </h3>
      <div class="col1 left">
          <img src="/img/435x275-SRR-Amenities-Movie-Theater-new.jpg"  alt="First Run Movie Theater">
            <p><a id="movie-btn" href="upcoming-movies/" target="_blank" rel="nofollow" class="bttn empty">CLICK HERE FOR UPCOMING FILMS</a></p>
        </div>
        <div class="col2 right">
            <p>
            Sit back, relax, and enjoy the show! Our <strong>digital movie theater</strong> shows some of the most 
            popular movies currently running in theaters. 
            </p>
            
                  

<div style="width:100%; float:left;">

<div style="width:70%; float:left;">
    <p><strong>Jungle Book</strong></p>
<ul style="padding-top:0px;margin-left:15px;">
   <li>4.15 - 5.5</li>
    <li>Friday: 6pm & 9pm</li>
<li>Saturday: 3pm, 6pm & 9pm</li>
<li>Sunday: 3pm & 6pm</li>
<li>Monday-Thursday: 3pm & 6pm</li>

</ul>
</div>
<div style="width:30%; float:left;">
<img id="movie-pic" src="/img/jungle-book-thumb.jpg" style="">
</div>
</div>

 <p style="margin-bottom:20px !important; clear:both"><strong>Synopsis:</strong> Raised by a family of wolves since birth, Mowgli (Neel Sethi) must leave the only home he's ever known when the fearsome tiger Shere Khan (Idris Elba) unleashes his mighty roar. Guided by a no-nonsense panther (Ben Kingsley) and a free-spirited bear (Bill Murray), the young boy meets an array of jungle animals, including a slithery python and a smooth-talking ape. Along the way, Mowgli learns valuable life lessons as his epic journey of self-discovery leads to fun and adventure.</p>
          
          <div class="explore-info-icons" id="icons-col1" style="width:300px;">
            
                <ul class="icons-ul">
                <li>
                        <i class="icon-li fa  fa-phone"> </i> (570) 722-9111 
                    </li>
                    <li>
                        <i class="icon-li fa  fa-dollar"> </i> 
                        Matinée: 
                        $6.50 Adult | $5.00 Child<br>  
                        Evening: 
                        $9.50 Adult | $7.00 Child </li>
              </ul>
<!--<a href="https://tix.extremetix.com/Online/?siteID=1998" class="bttn empty">Buy Tickets</a>--><p></p>
                

                
          </div>
          <!--<div class="explore-info-icons" id="icons-col2">
            <ul class="icons-ul">
                  <li>
            <i class="icon-li fa  fa-clock-o"> </i> 
                        Mon: 6pm<br>
                        Tue: 3pm &amp; 6pm <br>
                        Wed: 6pm<br>
                        Thu: 3pm &amp; 6pm<br>
                        Fri: 6pm &amp; 9pm <br> 
                        Sat: 3pm, 6pm, &amp; 9pm <br>  
                        Sun: 3pm &amp; 8pm <br>
                  </li>
              </ul>
          </div>-->
            
        </div>
        <div class="hr-2" ></div>
    </div>
</div>
</section>

<section>
<div class="two-column-text special-offers">
        <div class="row extra-padding">
        
        <h3>Cosmic Bowling</h3>
        <div class="col1 left">
            <img src="/img/435x275-SRR-Amenities-Bowling-Center.jpg"  alt="Bowling Party Package">
            <p><a id="bowl" href="bowling-party/" rel="nofollow" class="bttn empty">Click here to book a party</a></p>
        </div>
        <div class="col2 right">
            <p>
            Looking for a fun daytime or late night activity? Our <strong>8 Lane Bowling Center</strong> is 
            open to the public, Sunday-Thursday, 11:00am- 10:00pm, and Friday-Saturday 
            11:00am-11:00pm.  We offer <strong>automated scoring</strong>, bumper bowling, and an 
            extraordinary experience featuring<strong> lights, glowing pins, and a state-of-the-art 
          sound system</strong>. Ask about our Bowling Party Rooms! Cost is $8.00 person, per game. </p>

            <div class="explore-info-icons" id="icons-col1">
                <ul class="icons-ul">
                    <li>
                        <i class="icon-li fa  fa-phone"> </i> (570) 722-9111 
                    </li>
                    <li>
                        <i class="icon-li fa  fa-clock-o"> </i> 
                        Sun - Thurs: 10am-11pm<br>
                        Fri - Sat: 10am-Midnight
                    </li>
                </ul>
          </div>
            <div class="explore-info-icons" id="icons-col2">
                <ul class="icons-ul">
                    <li>
                        <i class="icon-li fa  fa-dollar"> </i> $8.00 Person | Per Game
                    </li>
                </ul>
            </div>


        </div>
        <div class="hr-2" ></div>
    </div>
</div>
</section>


<section>
<div class="two-column-text special-offers">
    <div class="row extra-padding">
    <h3>Miniature Golf Course</h3>
      <div class="col1 left">
          <img src="/img/photo-gallery/435x275-Galleria-Mini-Golf-14.jpg"  alt="Miniature Golf Course">
        </div>
        <div class="col2 right">
            <p>
            If you’re not going pro this vacation, try our exciting 18-hole miniature golf 
            course, surrounded by the beautiful scenery of the Poconos. Mini-golf is the 
            perfect activity for family fun, groups, or birthday parties. Tickets are $5.00 for 
            adults and $4.00 for children and seniors.</p>
            
          <div class="explore-info-icons" id="icons-col1">
            <ul class="icons-ul">
                <li>
                <i class="icon-li fa  fa-phone"> </i> (570) 722-9111 ext 671
                  </li>
              </ul>
          </div>
          <div class="explore-info-icons" id="icons-col2">
            <ul class="icons-ul">
                  <li>
            <i class="icon-li fa  fa-dollar"> </i> $5.00 Adult | $4.00 Child/Senior
                  </li>
              </ul>
          </div>

        </div>
        <div class="hr-2" ></div>
    </div>
</div>
</section>


<section>
<div class="two-column-text special-offers">
    <div class="row extra-padding">
    <h3>Split Rock Resort Activity Schedule</h3>
      <div class="col1 left">
          <img src="/img/photo-gallery/SRR-435x275-Lodge-Lake-Exterior.jpg"  alt="Split Rock Resort Activity Schedule">
        </div>
        <div class="col2 right">
            <p>
            Split Rock Resort offers a variety of fun and exciting activities for resort guests of all ages and interests. Our activities are updated weekly and range from sporting tournaments, group games, bingo, scavenger hunts, turtle racing and more! Download this week's <a target="_blank" href="/pdfs/Split-Rock-Resort-Activity-Schedule.pdf" onClick="ga('send', 'event', 'pdflink', 'click', 'Split-Rock-Resort-Activity-Schedule');"><strong>Activity Schedule</strong></a> or pick up a copy in the lobby. </p>


        </div>
        <div class="hr-2" ></div>
    </div>
</div>
</section>


<section>
<div class="two-column-text special-offers">
    <div class="row extra-padding">
    <h3>Redemption Arcade</h3>
      <div class="col1 left">
          <img src="/img/435x275-SRR-Amenities-Arcade.jpg"  alt="Redemption Arcade">
        </div>
        <div class="col2 right">
            <p>
            Remember the good ‘ol days when you could spend hours playing arcade games? Split 
            Rock is bringing back that feeling at <strong>Redemption Arcade</strong>, where kids can enjoy a 
            <strong>variety of games</strong> in a safe and wholesome environment. Just load up your gaming 
            cards and starting playing! <strong>Redeem the gaming tickets</strong> you’ve won for <strong>great prizes</strong>. 
            Open to the public, Sunday - Thursday, 10:00am-10:00pm and Friday - Saturday 
            10:00am-11:00pm.</p>
            
          <div class="explore-info-icons" id="icons-col1">
            <ul class="icons-ul">
                <li>
                <i class="icon-li fa  fa-phone"> </i> (570) 722-9111 
                  </li>

              </ul>
          </div>
          <div class="explore-info-icons" id="icons-col2">
            <ul class="icons-ul">
                  <li>
            <i class="icon-li fa  fa-clock-o"> </i> 
                        Sun - Thurs: 10am-11pm<br>
                        Fri - Sat: 10am-Midnight
                  </li>
              </ul>
          </div>
            
        </div>
        <div class="hr-2" ></div>
    </div>
</div>
</section>
<section>
<div class="two-column-text special-offers">
    <div class="row extra-padding">
    <h3>Sandy Beach On The Lake</h3>
      <div class="col1 left">
          <img src="/img/435x275-SRR-Amenities-Sandy-Beach.jpg"  alt="Sandy Beach On The Lake">
        </div>
        <div class="col2 right">
            <p>
            Overlooking vast and serene <strong>Lake Harmony</strong> is our very own <strong>sandy beach</strong>! There is 
            nothing more picturesque year-round. But in the summer months, you’ll be able to 
            lounge lakeside and enjoy the sun, take a <strong>cool swim in the lake</strong>, or participate 
            in a variety of <strong>water sports</strong>. </p>


        </div>
        <div class="hr-2" ></div>
    </div>
</div>
</section>

<section>
<div class="two-column-text special-offers">
    <div class="row extra-padding">
    <h3>Gift Shop</h3>
      <div class="col1 left">
          <img src="/img/435x275-SRR-Amenities-Gift-Shop.jpg"  alt="Explore Kapiolani Park">
        </div>
        <div class="col2 right">
            <p>
            Our convenient resort gift shop invites you to take a piece of Split Rock home 
            with you! Featuring <strong>apparel, accessories, sporting goods, home décor, jewelry and 
            more</strong>, the gift shop offers a one stop shopping experience. Forget something on your 
            trip? No problem. Sundries, including <strong>snacks, beverages, sunscreen</strong>, and razors 
            are also available.</p>


        </div>
        <div class="hr-2" ></div>
    </div>
</div>
</section>

<section>
<div class="two-column-text special-offers">
    <div class="row extra-padding">
    <h3>Hair Salon</h3>
      <div class="col1 left">
          <img src="/img/435x275-SRR-Amenities-Hair-Salon.jpg"  alt="Hair Salon">
        </div>
        <div class="col2 right">
            <p>
            Getting ready for a big event, or just want to spruce up your look? Our <strong>full service salon</strong> located in the Galleria features excellent hair salon services including haircuts, <strong>hair coloring and highlighting</strong>, and a full service beauty salon for <strong>nails and makeup</strong>. Clients will relax in a warm, friendly salon where they are made to feel welcome and beautiful. Our salon is open to the public from Tuesday – Saturday, 9:00am-5:00pm. </p>
            
          <div class="explore-info-icons" id="icons-col1">
            <ul class="icons-ul">
                <li>
                <i class="icon-li fa  fa-phone"> </i> (570) 722-9111 
                  </li>

              </ul>
          </div>
          <div class="explore-info-icons" id="icons-col2">
            <ul class="icons-ul">
                  <li>
            <i class="icon-li fa  fa-clock-o"> </i> 
                        Tue – Sat:  9am-5pm
                  </li>
              </ul>
          </div>
            
        </div>
        <div class="hr-2" ></div>
    </div>
</div>
</section>

<section>
<div class="two-column-text special-offers">
    <div class="row extra-padding">
    <h3>Mountain Massage</h3>
      <div class="col1 left">
          <img src="/img/435x275-SRR-Amenities-Massage.jpg"  alt="Mountain Massage">
        </div>
       <div class="col2 right">
            <p>
            Looking to <strong>unwind</strong> from everyday stress or a day on the slopes? <strong>Mountain Massage</strong>, committed to health and relaxation, is located right at the resort and is open to the public as well as the members and guests of Split Rock Resort. This Poconos massage center offers an eclectic mix of <strong>massage and bodywork</strong> services to help you <strong>rejuvenate</strong>. Packages and <strong>gift certificates</strong> are available. Book Now: <a href="http://www.mountain-massage.com">mountain-massage.com</a></p>
    <a name="nature"></a>
    
    <div class="explore-info-icons" id="icons-col1" style="width: 100%;">
    <ul class="icons-ul">
                    <li>
                        <i class="icon-li fa  fa-info"> </i> <a href="http://www.mountain-massage.com">Book Now</a>
                    </li>

                    <li>
            <i class="icon-li fa  fa-clock-o"> </i> 
                        Sun - Thurs: 10am-4pm<br>
                        Fri - Sat: 10am-7pm<br>Other appointment times may be available by request.
                  </li>
                    </ul>
                    </div>
			<!--<p><a href="http://www.mountain-massage.com" class="bttn empty">Book Now</a></p>-->
            
            
            
        </div>
        <div class="hr-2" ></div>
    </div>
</div>
</section>


<section>
<div class="two-column-text special-offers">
    <div class="row extra-padding">
    <h3>Fitness Center</h3>
      <div class="col1 left">
          <img src="/img/435x275-SRR-Amenities-Fitness-Center.jpg"  alt="Fitness Center">
        </div>
        <div class="col2 right">
            <p>
            The fitness center at Split Rock Resort provides a variety of equipment to help work away the day‘s pressures, including <strong>treadmills, lifecycles, elliptical cross trainers, steppers, rowers, universal weight stations, free weights</strong> and flat screen TVs. The fitness center also offers special classes including <strong><!--Zumba and -->water aerobics</strong>. Memberships are available to the public.
Open Sunday – Thursday from 7:00am-10:00pm and Friday – Saturday from 7:00am-11:00pm. </p>

          <div class="explore-info-icons" id="icons-col1">
            <ul class="icons-ul">
                <li>
                <i class="icon-li fa  fa-phone"> </i> (570) 722-9111 
                  </li>

              </ul>
          </div>
          <div class="explore-info-icons" id="icons-col2">
            <ul class="icons-ul">
                  <li>
            <i class="icon-li fa  fa-clock-o"> </i> 
                        Sun - Thurs: 7am-11pm<br>
                        Fri - Sat: 7am-Midnight
                  </li>
              </ul>
          </div>
            
        </div>
        <div class="hr-2" ></div>
    </div>
</div>
</section>

<section>
<div class="two-column-text special-offers">
    <div class="row extra-padding">
    <h3>Indoor/Outdoor Pool</h3>
      <div class="col1 left">
          <img src="/img/435x275-SRR-Amenities-Pool.jpg"  alt="Indoor/Outdoor Pool">
        </div>
        <div class="col2 right">
            <p>
            Guests can enjoy both indoor pool and outdoor pools right at the resort! Have fun all year long with our indoor option, perfect for perking up during chilly days. Our outdoor pool is seasonal. Both pools are available to all Split Rock Resort guests.</p>
        </div>
        <div class="hr-2" ></div>
    </div>
</div>
</section>

<section>
<div class="two-column-text special-offers">
  <div class="row extra-padding">
    <h3>Indoor/Outdoor Sporting Courts</h3>
      <div class="col1 left">
          <img src="/img/435x275-SRR-Amenities-Courts.jpg"  alt="Indoor/Outdoor Sporting Courts">
        </div>
        <div class="col2 right">
            <p>
            Split Rock Resort features a variety of indoor and outdoor sporting courts for <strong>volleyball, basketball, tennis, badminton, bocce, racquetball and baseball</strong>. </p>

          <div class="explore-info-icons" id="icons-col1">
            <ul class="icons-ul">
                <li>
                <i class="icon-li fa  fa-phone"> </i> (570) 722-9111 
                  </li>
                  <li>
            <i class="icon-li fa  fa-dollar"> </i> $20/hour
                    </li>

              </ul>
          </div>
          <div class="explore-info-icons" id="icons-col2">
            <ul class="icons-ul">
                  <li>
            <i class="icon-li fa  fa-clock-o"> </i> 
                        Indoor Tennis & Basketball Courts:<br>
            Sun - Thurs: 10am-11pm<br>
                        Fri - Sat: 10am-Midnight<br>
            Outdoor Tennis & Recreation:<br>
            Daily: 10am-9pm
                  </li>
              </ul>
                <br>
          </div>
            
        </div>
        <div class="hr-2" ></div><br><br>

       
    </div>
</div>
</section>







    
{% include script-all-pages.html %}
   
    {% include footer.html %}



</body>
</html>