<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption left">

                      <h1>{{items.heading}}</h1>

                        <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>

<section>
<div class="text-with-gallery">
  <div class="row">
    <div class="content">
        <!--<h2>Explore Poconos</h2>-->
      </div>
    </div>
</div>
</section>

 
{% assign resort_activities =  site.data._models.resort_activity  | sort: "order" %}

{% for ra in resort_activities %}

<section>
<div class="two-column-text special-offers">
    {% if ra.name =="H2Oooohh! Indoor Water Park" %}
      <div class="row">
      <h2 class="explore-category">Things to Do at Split Rock Resort</h2>
    {% else %}
      <div class="row extra-padding">
    {% endif %}

    <h3> {{ra.name}} </h3>
      <div class="col1 left">
          <img src= {{ ra.image.url }}  alt="First Run Movie Theater">
      </div>
      <div class="col2 right">
            <p>
            {{ra.text}}
            </p>
            {{ra.movieinfo}}
                  
          <div class="explore-info-icons" id="icons-col1" style="width:300px;">
            
                <ul class="icons-ul">
                    {% if ra.info and ra.info != "" %}
                     <li>
                        <i class="icon-li fa  fa-info"> </i> {{ ra.info  }}
                     </li>   
                    {% endif %}
                    {% if ra.phone and ra.phone != ""  %}    
                      <li>
                        <i class="icon-li fa  fa-phone"> </i> {{ ra.phone  }}
                      </li> 
                    {% endif %}
                    {% if ra.price and ra.price != "" %}    
                      <li>
                        <i class="icon-li fa  fa-dollar"> </i>{{ ra.price  }}  
                      </li> 
                    {% endif %}
                   
                </ul>
<!--<a href="https://tix.extremetix.com/Online/?siteID=1998" class="bttn empty">Buy Tickets</a>--><p></p>

                
          </div>
          <div class="explore-info-icons" id="icons-col2">
                <ul class="icons-ul">
                {% if ra.info2 and ra.info2 != "" %}
                     <li>
                        <i class="icon-li fa  fa-info"> </i> {{ ra.info2 }}
                     </li>
                 {% endif %}
                  {% if ra.schedule and ra.schedule != "" %}
                     <li>
                        <i class="icon-li fa  fa-clock-o"> </i>{{ ra.schedule }} 
                     </li>
                  {% endif %}
                    
                </ul>
          </div>
          <div style="clear:both;"></div>

          <div style="width:100%; float:left;">
            {{ ra.info3 }}
          </div>
        

            
        </div>

        <div class="hr-2" ></div>
    </div>
</div>
</section>


{% endfor %}
    
{% include script-all-pages.html %}
   
    {% include footer.html %}



</body>
</html>