<!doctype html>
<html class="no-js" lang="en">
  {% include head.html %}

  <body>
    {% include ga.html %}
    {% include mobile.html %}
    {% include header.html %}
  {% include booking-widget-all-pages.html %}


    {% for items in site.data.banners.slider %}

        {% if page.title == items.title %}

              <section>

            <div id="hero-section" class="page full">

              <div class="caption-wrapper">

                    <div class="caption left">

                      <h1>{{items.heading}}</h1>

                        <h4>{{items.sub-heading}}</h4>

                    </div>

                </div>

              <div class="single-image-hero">

                  <img data-interchange="[{{items.src-small}}, (small)],[{{items.src-medium}}, (medium)], [{{items.src-large}}, (xlarge)]" src="{{items.src-main}}" alt="{{items.tool-tip}}">

                </div>

            </div>

            </section>

        {% endif %}

      {% endfor %}

  <div id="toggleheader"></div>


  <section>
<div class="two-column-text special-offers">
        <div class="row extra-padding">
        
        <div class="col1 left">
            <img src="/img/x-men.jpg"  alt="X-Men: Apocalypse">

            
        </div>
        <div class="col2 right">
           
            
                  

<div style="width:100%; float:left;">

<div style="width:70%; float:left;">
    <p><strong>X-Men: Apocalypse</strong></p>
<ul>
  <li>5.27-6.10</li>
    <li>Friday: 6pm & 9pm</li>
<li>Saturday: 3pm, 6pm & 9pm</li>
<li>Sunday: 3pm & 6pm</li>
<li>Monday-Thursday: 3pm & 6pm</li>

</ul>
</div>

</div>

 <p style="margin-bottom:20px !important; clear:both"><strong>Synopsis:</strong> RWorshiped as a god since the dawn of civilization, the immortal Apocalypse (Oscar Isaac) becomes the first and most powerful mutant. Awakening after thousands of years, he recruits the disheartened Magneto (Michael Fassbender) and other mutants to create a new world order. As the fate of the Earth hangs in the balance, Professor X (James McAvoy) and Raven (Jennifer Lawrence) lead a team of young X-Men to stop their seemingly invincible nemesis from destroying mankind.</p>
          
            <div class="explore-info-icons" id="icons-col1" style="width:300px;">
                
                <ul class="icons-ul">
                    <li>
                        <i class="icon-li fa  fa-phone"> </i> (570) 722-9111 
                    </li>
                    <li>
                        <i class="icon-li fa  fa-dollar"> </i> 
                        Matinée: 
                        $6.50 Adult | $5.00 Child<br>  
                        Evening: 
                        $9.50 Adult | $7.00 Child </li>
                </ul>

                <!--<a href="https://tix.extremetix.com/Online/?siteID=1998" class="bttn empty">Buy Tickets</a>--><p></p>

                
          </div>
            <!--<div class="explore-info-icons" id="icons-col2">
                <ul class="icons-ul">
                    <li>
                        <i class="icon-li fa  fa-clock-o"> </i> 
                        Mon: 6pm<br>
                        Tue: 3pm &amp; 6pm <br>
                        Wed: 6pm<br>
                        Thu: 3pm &amp; 6pm<br>
                        Fri: 6pm &amp; 9pm <br> 
                        Sat: 3pm, 6pm, &amp; 9pm <br>  
                        Sun: 3pm &amp; 8pm <br>
                  </li>
                </ul>
            </div>-->
            <br>
        </div>
        <!--<div class="hr-2" ></div>-->
        
        <div class="hr-2" ></div>

    </div>
</div>
</section>


<section>
<div class="two-column-text special-offers">
        <div class="row extra-padding">
        
        <div class="col1 left">
            <img src="/img/jungle-book.jpg"  alt="Superman vs. Batman">

            
        </div>
        <div class="col2 right">
           
            
                  

<div style="width:100%; float:left;">

<div style="width:70%; float:left;">
    <p><strong>Jungle Book</strong></p>
<ul>
  <li>4.15 - 5.5</li>
    <li>Friday: 6pm & 9pm</li>
<li>Saturday: 3pm, 6pm & 9pm</li>
<li>Sunday: 3pm & 6pm</li>
<li>Monday-Thursday: 3pm & 6pm</li>

</ul>
</div>

</div>

 <p style="margin-bottom:20px !important; clear:both"><strong>Synopsis:</strong> Raised by a family of wolves since birth, Mowgli (Neel Sethi) must leave the only home he's ever known when the fearsome tiger Shere Khan (Idris Elba) unleashes his mighty roar. Guided by a no-nonsense panther (Ben Kingsley) and a free-spirited bear (Bill Murray), the young boy meets an array of jungle animals, including a slithery python and a smooth-talking ape. Along the way, Mowgli learns valuable life lessons as his epic journey of self-discovery leads to fun and adventure.</p>
          
            <div class="explore-info-icons" id="icons-col1" style="width:300px;">
                
                <ul class="icons-ul">
                    <li>
                        <i class="icon-li fa  fa-phone"> </i> (570) 722-9111 
                    </li>
                    <li>
                        <i class="icon-li fa  fa-dollar"> </i> 
                        Matinée: 
                        $6.50 Adult | $5.00 Child<br>  
                        Evening: 
                        $9.50 Adult | $7.00 Child </li>
                </ul>

                <!--<a href="https://tix.extremetix.com/Online/?siteID=1998" class="bttn empty">Buy Tickets</a>--><p></p>

                
          </div>
            <!--<div class="explore-info-icons" id="icons-col2">
                <ul class="icons-ul">
                    <li>
                        <i class="icon-li fa  fa-clock-o"> </i> 
                        Mon: 6pm<br>
                        Tue: 3pm &amp; 6pm <br>
                        Wed: 6pm<br>
                        Thu: 3pm &amp; 6pm<br>
                        Fri: 6pm &amp; 9pm <br> 
                        Sat: 3pm, 6pm, &amp; 9pm <br>  
                        Sun: 3pm &amp; 8pm <br>
                  </li>
                </ul>
            </div>-->
            <br>
        </div>
        <!--<div class="hr-2" ></div>-->
        
        <div class="hr-2" ></div>

    </div>
</div>
</section>

<section>
<div class="two-column-text special-offers">
        <div class="row extra-padding">
        
        <div class="col1 left">
            <img src="/img/batman-v-superman.jpg"  alt="Superman vs. Batman">

            
        </div>
        <div class="col2 right">
           
            
                  

<div style="width:100%; float:left;">

<div style="width:70%; float:left;">
    <p><strong>Superman vs. Batman: Dawn of Justice</strong></p>
<ul>
  <li>3.25 - 4.8</li>
    <li>Friday: 6pm & 9pm</li>
<li>Saturday: 3pm, 6pm & 9pm</li>
<li>Sunday: 3pm & 6pm</li>
<li>Monday-Thursday: 3pm & 6pm</li>

</ul>
</div>

</div>

 <p style="margin-bottom:20px !important; clear:both"><strong>Synopsis:</strong> It's been nearly two years since Superman's (Henry Cavill) colossal battle with Zod (Michael Shannon) devastated the city of Metropolis. The loss of life and collateral damage left many feeling angry and helpless, including crime-fighting billionaire Bruce Wayne (Ben Affleck). Convinced that Superman is now a threat to humanity, Batman embarks on a personal vendetta to end his reign on Earth, while the conniving Lex Luthor (Jesse Eisenberg) launches his own crusade against the Man of Steel.</p>
          
            <div class="explore-info-icons" id="icons-col1" style="width:300px;">
                
                <ul class="icons-ul">
                    <li>
                        <i class="icon-li fa  fa-phone"> </i> (570) 722-9111 
                    </li>
                    <li>
                        <i class="icon-li fa  fa-dollar"> </i> 
                        Matinée: 
                        $6.50 Adult | $5.00 Child<br>  
                        Evening: 
                        $9.50 Adult | $7.00 Child </li>
                </ul>

                <!--<a href="https://tix.extremetix.com/Online/?siteID=1998" class="bttn empty">Buy Tickets</a>--><p></p>

                
          </div>
            <!--<div class="explore-info-icons" id="icons-col2">
                <ul class="icons-ul">
                    <li>
                        <i class="icon-li fa  fa-clock-o"> </i> 
                        Mon: 6pm<br>
                        Tue: 3pm &amp; 6pm <br>
                        Wed: 6pm<br>
                        Thu: 3pm &amp; 6pm<br>
                        Fri: 6pm &amp; 9pm <br> 
                        Sat: 3pm, 6pm, &amp; 9pm <br>  
                        Sun: 3pm &amp; 8pm <br>
                  </li>
                </ul>
            </div>-->
            
        </div>
        <!--<div class="hr-2" ></div>-->
        
        

    </div>
</div>
</section>








    
{% include script-all-pages.html %}
   
    {% include footer.html %}



</body>
</html>